<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>레시피</title>
  <link rel="stylesheet" href="/css/common/project.css">
  <link rel="stylesheet" href="/css/recipe/select/recipeDetail.css">
  <script src="https://kit.fontawesome.com/921e1d60a7.js" crossorigin="anonymous"></script>
</head>
<body>
  <th:block th:replace="~{common/header}"></th:block>
  <main th:object="${recipe}">
    <div class="main-container">
      <div class="media-container">
        <div class="main-media">
  
        </div>
        <div class="recipe-summary">
          <div class="recipe-title" th:text="*{recipeTitle}">
            맛있는 요리 레시피
          </div>
          <div class="star-point">
            <i class="fa-star fa-solid" style="color: gold;"></i> [[*{recipeStar}]]
            <i class="fa-heart fa-solid" style="color: red;"></i> [[*{recipeLike}]]
            <i class="fa-user fa-solid" style="color: black;"></i> [[*{recipeHits}]]
          </div>
          <div th:text="*{recipeIntro}">
            간략한 소개<br><br><br>입니다
          </div>
          <div class="recipeTag">
            <span th:each="tag : *{recipeTag}" th:text="${tag}" class="tags">해시태그</span>
          </div>
        </div>
      </div>
      <div class="bookmark" th:if="${loginMember != null}">
        <span class="temp"><i class="fa-heart" style="color: red;" th:classappend="${likeCheck} ? fa-solid : fa-regular"></i><span id="like">좋아요</span></span>
        <span class="temp"><i class="fa-star" style="color: gold;" th:classappend="${bookmarkCheck} ? fa-solid : fa-regular"></i><span id="bookmark">즐겨찾기</span></span>
        <span id="stars">
          <i class="fa-star stars" style="color: gold;" th:classappend="${recipeStar >= 1} ? fa-solid : fa-regular"></i>
          <i class="fa-star stars" style="color: gold;" th:classappend="${recipeStar >= 2} ? fa-solid : fa-regular"></i>
          <i class="fa-star stars" style="color: gold;" th:classappend="${recipeStar >= 3} ? fa-solid : fa-regular"></i>
          <i class="fa-star stars" style="color: gold;" th:classappend="${recipeStar >= 4} ? fa-solid : fa-regular"></i>
          <i class="fa-star stars" style="color: gold;" th:classappend="${recipeStar >= 5} ? fa-solid : fa-regular"></i>
          별점
        </span>
      </div>
      <div class="recipe-writer">
        <div class="recipe-writer-image">
          <img th:unless="*{memberProfile}" th:src="#{user.default.image}" class="memberProfile">
          <img th:if="*{memberProfile}" th:src="*{memberProfile}" class="memberProfile">
        </div>
        <div class="recipe-writer-nickname" th:text="*{memberNickname}">
          레시피 작성자 아이디
        </div>
        <div class="recipe-writer-info" th:if="*{memberIntro}" th:text="*{memberIntro}">
          레시피 작성자의 한 줄 소개가 들어갈 자리입니다
        </div>
        <div class="recipe-writer-info" th:unless="*{memberIntro}">
          한 줄 소개가 없습니다
        </div>
      </div>
      <div class="recipe-content">
        <div class="recipe-subtitle">
          재료
        </div>
        <div class="content">
          <div class="recipeMaterial" th:each="recipeMaterial : *{recipeMaterialList}" th:object="${recipeMaterial}">
            <span th:text="*{materialName}"></span>
            <span th:text="*{recipeMaterialQuantity}"></span>
            <th:block th:if="${#lis}"></th:block>
          </div>

        </div>
      </div>
      <div class="recipe-content">
        <div class="recipe-subtitle">
          나만의 팁
        </div>
        <div class="content" th:text="*{recipeTip}">
          팁이 들어가는 칸
        </div>
      </div>
      <div class="recipe-content">
        <div class="recipe-subtitle">
          요리순서
        </div>
        <th:block th:each="recipeStep : *{recipeStepList}" th:object="${recipeStep}">
          <div class="recipe-step">
            STEP [[*{recipeStepOrder}]]
          </div>
          <div class="content" th:text="*{recipeStepContent}">
            순서가 들어가는 칸
          </div>
          <div>
            <img th:src="*{recipeStepImage}">
          </div>
        </th:block>
      </div>
      <div class="recipe-content  recipe-photos">
        <div class="recipe-subtitle">
          완성 사진
        </div>
        <div class="recipe-photo">
          <div>
            <img src="">
          </div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      
      <div class="recipe-content recipe-photos">
        <div class="recipe-subtitle">
          또 다른 추천 음식
        </div>
        <div class="recipe-photo">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <div class="recipe-content">
        <div class="recipe-subtitle">
          댓글
        </div>
        <th:block th:replace="~{recipe/recipeComment}"></th:block>
      </div>
    </div>
  </main>

  <script th:inline="javascript">
    const recipeNo = /*[[${recipeNo}]]*/ "레시피 번호";
    const loginCheck = /*[[${session.loginMember != null ? true : false}]]*/ "로그인 여부";
    const recipeStarCheck = /*[[${recipeStar}]]*/ "별점 수";
    const loginMemberNo =/*[[${session.loginMember?.memberNo}]]*/ "로그인 회원번호";
    const userDefaultImage = /*[[#{user.default.image}]]*/ "회원 기본 이미지";
  </script>
  <script src="/js/recipe/select/recipeDetail.js"></script>
  <script src="/js/common/project.js"></script>
</body>
</html>