<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>레시피</title>
  <link rel="stylesheet" href="/css/common/project.css">
  <link rel="stylesheet" href="/css/recipe/select/recipeDetail.css">
  <script src="https://kit.fontawesome.com/921e1d60a7.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <style>
    a{
      text-decoration: none !important;
      color: var(--color-main) !important;
    }
  </style>
</head>
<body>


  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-3" id="exampleModalLabel">신고 작성</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body fs-4">

          <div>
            <label for="message-text" class="col-form-label">제목</label>
            <input class="form-control" id="reportTitle"></input>
          </div>

          <hr>

          <label for="message-text" class="col-form-label">내용</label>
          <textarea class="form-control" id="reportContent" rows="5"></textarea>
        </div>

        <div class="modal-footer" >
          <button type="button" class="btn btn-secondary fs-4" data-bs-dismiss="modal">닫기</button>
          <button type="button" class="btn btn-primary fs-4" id="report-comment-submit">제출</button>
        </div>
      </div>
    </div>
  </div>


  <th:block th:replace="~{common/header}"></th:block>
  <main th:object="${recipe}">
    <div class="main-container">
      <div class="media-container">
        <div class="main-media">
          <img class="recipe-image-detail" th:if="*{recipeThumbnail}" th:src="*{recipeThumbnail}">
          <img class="recipe-image-detail" th:unless="*{recipeThumbnail}" th:src="#{logo.default.image}">
        </div>
        <div class="recipe-summary">
          <div class="recipe-title" th:text="*{recipeTitle}">
            맛있는 요리 레시피
          </div>
          <div class="star-point">
            <i class="fa-star fa-solid" style="color: gold;"></i> [[*{recipeStar}]]
            <i class="fa-heart fa-solid" style="color: red;"></i> [[*{recipeLike}]]
            <i class="fa-user fa-solid" style="color: black;"></i> [[*{recipeHits}]]
          </div>
          <div class="recipe-intro" th:text="*{recipeIntro}">
            간략한 소개<br><br><br>입니다
          </div>
          <div class="recipeTag">
            <span th:each="tag : *{recipeTag}" th:text="${tag}" class="tags">해시태그</span>
          </div>
        </div>
      </div>
      <div class="bookmark" th:if="${loginMember != null}">
        <span class="temp"><i class="fa-heart" style="color: red;" th:classappend="${likeCheck} ? fa-solid : fa-regular"></i><span id="like">좋아요</span></span>
        <span class="temp"><i class="fa-star" style="color: gold;" th:classappend="${bookmarkCheck} ? fa-solid : fa-regular"></i><span id="bookmark">즐겨찾기</span></span>
        <span id="stars">
          <i class="fa-star stars" style="color: gold;" th:classappend="${recipeStar >= 1} ? fa-solid : fa-regular"></i>
          <i class="fa-star stars" style="color: gold;" th:classappend="${recipeStar >= 2} ? fa-solid : fa-regular"></i>
          <i class="fa-star stars" style="color: gold;" th:classappend="${recipeStar >= 3} ? fa-solid : fa-regular"></i>
          <i class="fa-star stars" style="color: gold;" th:classappend="${recipeStar >= 4} ? fa-solid : fa-regular"></i>
          <i class="fa-star stars" style="color: gold;" th:classappend="${recipeStar >= 5} ? fa-solid : fa-regular"></i>
          별점
        </span>
      </div>
      <div class="recipe-writer">
        <div class="recipe-writer-image">
          <img th:unless="*{memberProfile}" th:src="#{user.default.image}" class="memberProfile">
          <img th:if="*{memberProfile}" th:src="*{memberProfile}" class="memberProfile">
        </div>
        <div class="recipe-writer-nickname" th:text="*{memberNickname}">
          레시피 작성자 아이디
        </div>
        <div class="recipe-writer-info" th:if="*{memberIntro}" th:text="*{memberIntro}">
          레시피 작성자의 한 줄 소개가 들어갈 자리입니다
        </div>
        <div class="recipe-writer-info" th:unless="*{memberIntro}">
          한 줄 소개가 없습니다
        </div>
      </div>
      <div class="recipe-content" th:if="*{recipeVideo}">
        <div class="recipe-subtitle">
          요리 영상
        </div>
        <div class="content recipeVideo">
          <iframe class="recipeVideoDetail" th:src="*{recipeVideo}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
      <div class="recipe-content">
        <div class="recipe-subtitle">
          요리 정보
        </div>
        <div class="content recipe-info">
          <span>
            요리사 &nbsp;
            <span class="recipe-info-detail" th:text="*{recipePeople}"></span>
          </span>
          <span>
            시간 &nbsp;
            <span class="recipe-info-detail" th:text="*{recipeTime}"></span>
          </span>
          <span>
            난이도 &nbsp;
            <span class="recipe-info-detail" th:text="*{recipeLevel}"></span>
          </span>
        </div>
      </div>
      <div class="recipe-content">
        <div class="recipe-subtitle">
          재료
        </div>
        <div class="content">
          <div class="recipeMaterial" th:each="recipeMaterial : *{recipeMaterialList}" th:object="${recipeMaterial}">
            <span th:text="*{materialName}"></span>
            <span th:text="*{recipeMaterialQuantity}"></span>
          </div>

        </div>
      </div>
      <div class="recipe-content">
        <div class="recipe-subtitle">
          나만의 팁
        </div>
        <div class="content" th:text="*{recipeTip}">
          팁이 들어가는 칸
        </div>
      </div>
      <div class="recipe-content">
        <div class="recipe-subtitle">
          요리 과정
        </div>
        <th:block th:each="recipeStep : *{recipeStepList}" th:object="${recipeStep}">
          <div class="recipe-step">
            STEP [[*{recipeStepOrder+1}]]
          </div>
          <div class="content step-content">
            <div th:text="*{recipeStepContent}" class="stepText">
              순서가 들어가는 칸
            </div>
            <div class="stepImage"><img th:if="*{recipeStepImage}" th:src="|*{recipeStepImage}*{recipeStepImageRename}|"></div>
          </div>
        </th:block>
      </div>
      <div th:unless="*{#lists.size(recipePicture) == 0}" class="recipe-content  recipe-photos">
        <div class="recipe-subtitle">
          완성 사진
        </div>
        <div class="recipe-photo">
          <div th:each="img : *{recipePicture}" th:object="${img}">
            <img class="recipeCompletePhotos" th:src="|*{recipeImage}*{recipeImageRename}|">
          </div>
        </div>
      </div>
      <div class="btnArea">
        <th:block th:if="${session.loginMember != null and
          session.loginMember.memberNo != recipe.memberNo}">
          <button th:value="*{memberNickname}" th:onclick="|csRecipe(*{memberNo}, *{recipeNo}, this)|" data-bs-toggle="modal" data-bs-target="#exampleModal">신고</button>
        </th:block>
        <th:block th:if="${session.loginMember != null and session.loginMember.memberNo == recipe.memberNo}">
          <button id="editRecipeBtn">수정</button>
          <button id="deleteRecipeBtn">삭제</button>
        </th:block>
      </div>
      <!-- <div class="recipe-content recipe-photos">
        <div class="recipe-subtitle">
          또 다른 추천 음식
        </div>
        <div class="recipe-photo">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div> -->
      <div class="recipe-content">
        <div class="recipe-subtitle">
          댓글
        </div>
        <th:block th:replace="~{recipe/recipeComment}"></th:block>
      </div>
    </div>
  </main>

  <th:block th:replace="~{common/footer}"></th:block>
  <script th:inline="javascript">
    const recipeNo = /*[[${recipeNo}]]*/ "레시피 번호";
    const loginCheck = /*[[${session.loginMember != null ? true : false}]]*/ "로그인 여부";
    const recipeStarCheck = /*[[${recipeStar}]]*/ "별점 수";
    const loginMemberNo =/*[[${session.loginMember?.memberNo}]]*/ "로그인 회원번호";
    const userDefaultImage = /*[[#{user.default.image}]]*/ "회원 기본 이미지";
    const recipes = /*[[${recipe}]]*/ "레시피 정보";

    /*----- 아래 구문 이동X -----*/
    const popBtn = document.querySelector("form");
  //   popBtn.addEventListener('submit', e => {
  //   const reportContent = document.getElementById("reportContent")
  //   const reportTitle = document.getElementById("reportTitle")

  //   if (reportContent.value.trim().length == 0 || reportTitle.value.trim().length == 0) {
  //     e.preventDefault();
  //     alert("제목이나 신고 내용을 작성해주세요")

  //     return;
  //   }

  //   alert("신고되었습니다.")
  //   window.close()
  //   /* -------------------------------- */
  // })

  </script>
  <script src="/js/recipe/select/recipeDetail.js"></script>
  <script src="/js/common/project.js"></script>
</body>
</html>