.container {
  background-color: white;
  width: 600px;
  margin: 10rem auto;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
}

input[type="text"], input[type="password"], input[type="email"]{
  margin-top: 1.5rem;
}

.signupTest{
  margin: 1rem 0;
}

#memberEmail, #authKey {
  width: 75%;
}

#email-btn, #email-confirm-btn{
  width: 25%;
  font-size: 1.2rem;
  margin-top: 15px;
  margin-left: 10px;
  cursor: pointer;
}

input[type="submit"] {
  background-color: #E3C24A;
  color: #000;
  font-size: 2rem;
  height: 40px;
  border: none;
  cursor: pointer;
  margin-top: 2rem;
}

#email-td-div , #email-confirm-td{
  width: 100%;
  display: flex;
  
}

.signupTest{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2rem;
  color: #000;
  text-align: left;
}

.confirm{ color : green; }
.error{ color : red; }