<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>member-detail</title>
  <link rel="stylesheet" href="/css/admin/admin-member-detail.css">
  <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sidebars/">
  <link href="/boot_strap_assets/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/admin/admin-sidebar.css" rel="stylesheet">
</head>
<body>

  
  <main class="d-flex flex-nowrap">
    
    <th:block th:replace="~{admin/admin_sidebar}"></th:block>

  <section class="out-box">
    <h1>회원 상세 정보</h1>
    <div class="back-btn-box">
      <button class="btn btn-dark back-btn" 
      th:onclick="|location.href='@{/admin/memberSearch
        (memberId=${memberId},
         memberEmail=${memberEmail},
         memberNickname=${memberNickname}, cp=${cp} ) }'|">뒤로 가기</button>
    </div>

    <div class="userInfo" th:object="${myPageMember}">
      <div class="userInfo-row">
        <div class="userInfo-image">
          <img th:unless="*{memberProfile}" th:src="#{user.default.image}" class="memberProfile">
          <img th:if="*{memberProfile}" th:src="*{memberProfile}" class="memberProfile">
        </div>
        <div class="userInfo-nickname" th:text="*{memberNickname}">
          김민석
        </div>
        <div class="userInfo-id">
          <div th:text="*{memberEmail}">member03</div>
          <br>
          <div th:text="*{memberEnrollDate}">2023/03/21</div>
        </div>
        <div class="userInfo-grade">
          <th:block th:if="*{memberAuthority == 1}">일반</th:block>
          <th:block th:if="*{memberAuthority == 2}">강사</th:block>
          <th:block th:if="*{memberAuthority == 3}">관리자</th:block>
        </div>
      </div>
      <div class="userInfo-row memberIntro">
          <div class="userInfo-intro" th:unless="*{memberIntro}">
            한 줄 소개가 없습니다
          </div>
          <div class="userInfo-intro" th:if="*{memberIntro}" th:text="*{memberIntro}">
            한 줄 소개
          </div>
      </div>
      <div class="userInfo-row counts">
        <div>
          <i class="fa-heart fa-solid fa-lg"></i>
          <div>
            <div>
              받은 좋아요
            </div>
            <div class="countsNumber" th:text="*{likeCount}">9</div>
          </div>
        </div>
        <div>
          <i class="fa-star fa-solid fa-lg"></i>
          <div>
            <div>
              받은 즐겨찾기
            </div>
            <div class="countsNumber" th:text="*{bookmarkCount}">9</div>
          </div>
        </div>
        <div>
          <i class="fa-solid fa-utensils fa-lg"></i>
          <div>
            <div>
              레시피 수
            </div>
            <div class="countsNumber" th:text="*{recipeCount}">9</div>
          </div>
        </div>
        <div>
          <i class="fa-solid fa-pencil fa-lg"></i>
          <div>
            <div>
              게시글 수
            </div>
            <div class="countsNumber" th:text="*{boardCount}">9</div>
          </div>
        </div>
        <div>
          <i class="fa-regular fa-comment-dots fa-lg"></i>
          <div>
            <div>
              댓글 수
            </div>
            <div class="countsNumber" th:text="*{commentCount}">9</div>
          </div>
        </div>
      </div>
      <div class="search-area d-flex justify-content-between">
        <a th:href="@{/admin/recipeResult(memberNo=${myPageMember.memberNo})}" class="btn btn-dark search-btn d-flex align-content-center justify-content-center flex-wrap">레시피 조회</a>
        <a href="#" class="btn btn-dark search-btn d-flex align-content-center justify-content-center flex-wrap">게시글 조회</a>
        <a href="#" class="btn btn-dark search-btn d-flex align-content-center justify-content-center flex-wrap">쿠킹클래스 조회</a>
        <a href="#" class="btn btn-dark search-btn d-flex align-content-center justify-content-center flex-wrap">댓글 조회</a>
      </div>
    </div>

  </section>
  </main>
  <script src="/js/admin/member_detail.js"></script>
</body>
</html>