<!DOCTYPE html>
<html lang="en">




<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>admin-member-search</title>
  <link rel="stylesheet" href="/css/admin/admin-member-search.css">
  <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sidebars/">
  <link href="/boot_strap_assets/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/admin/admin-sidebar.css" rel="stylesheet">
</head>
<body>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-3" id="exampleModalLabel">신고 상세 조회</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body fs-4">
          <div >
            <span id="report-title" class="fs-3">제목</span>
            <button type="button" class="btn btn-outline-secondary float-end fs-5">신고 대상으로 이동</button>
          </div>
          
          <hr>
          <div id="report-content">내용</div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">답변</label>
            <textarea class="form-control" id="message-text" rows="5"></textarea>
          </div>
        </div>
        <div class="modal-footer" >
          <button type="button" class="btn btn-secondary fs-4" data-bs-dismiss="modal">닫기</button>
          <button type="button" class="btn btn-primary fs-4" id="report-answer-submit" data-bs-dismiss="modal">제출</button>
        </div>
      </div>
    </div>
  </div>

  
<main class="d-flex flex-nowrap" th:with="reportList=${map.reportList}, pagination=${map.pagination}">
    
    <th:block th:replace="~{admin/admin_sidebar}"></th:block>

<section class="main-box">

  
  
    <section class="out-box">
  
      <h1>신고 조회</h1>
        <form accept="/admin/reportManagement" method="get">
          <div class="d-flex">
            <div class="member-search-box">
              <table class="search-box-table" >

                <tr class="search-box-tr">
                  <td class="search-box-td">회원 닉네임</td>
                  <td class="search-box-td search-box-td-input"><input type="text" class="member-search-input form-control" id="memberNick" name="memberNickname"></td>
                </tr>

                <tr class="table-hr"></tr>

                <tr class="search-box-tr">
                  <td class="search-box-td">회원 이메일</td>
                  <td class="search-box-td search-box-td-input"><input type="text" class="member-search-input form-control" id="memberEmail" name="memberEmail"></td>
                </tr>

                <tr class="table-hr"></tr>

                <tr class="search-box-tr">
                  <td class="search-box-td">회원 아이디</td>
                  <td class="search-box-td search-box-td-input"><input type="text" class="member-search-input form-control" id="memberId" name="memberId">
                  </td>
                </tr>

              </table>
            </div>
            <button class="btn btn-primary btn-search">제출</button>
          </div>
        </form>
  
        <table class="member-search-result">
          <thead>
          <tr class="member-search-tr">
              <th class="member-search-th">신고 번호</th>
              <th class="member-search-th">신고자</th>
              <th class="member-search-th">신고 대상자</th>
              <th class="member-search-th">신고 제목</th>
              <th class="member-search-th">상태</th>
              <th class="member-search-th">상세 조회</th>
          </tr>
          </thead>

          <tbody>

          <tr th:if="${#lists.size(reportList) == 0}">
              <th colspan="5">검색결과가 존재하지 않습니다.</th>
          </tr>

          <th:block th:unless="${#lists.size(reportList) == 0}">

            <tr class="member-search-tr" th:each="report : ${reportList}" th:object="${report}">
                <td class="member-search-td" th:text="*{reportNo}">신고 번호</td>
                <td class="member-search-td" th:text="*{memberNickname}">신고자</td>
                <td class="member-search-td" th:text="*{reporterNickname}">신고 대상자</td>
                <td class="member-search-td" th:text="*{reportTitle}">신고 제목</a></td>
                <td class="member-search-td">
                <td class="member-search-td">
                    <input type="hidden" th:value="*{reportNo}" name="memberNo">
                    <input type="hidden" th:value="${map.pagination.currentPage}" name="cp">
                    <button type="submit" class="btn btn-info " data-bs-toggle="modal" data-bs-target="#exampleModal" th:onclick="|reportDetail(*{reportNo}, this)|">상세 조회</button>
                </td>
            </tr>
            
          </th:block>
          
          </tbody>
      </table>


      <nav aria-label="Page navigation"  th:if="${#lists.size(reportList) > 0}">
        <ul class="pagination pagination-lg justify-content-center pagination-css" > 
            <!-- 첫 페이지로 이동 -->
            <li class="page-item"><a class="page-link" th:href="@{/admin/reportManagement(cp=1) }">&lt;&lt;</a></li>
  
            <!-- 이전 목록 마지막 번호로 이동 -->
            <li class="page-item"><a class="page-link" th:href="@{/admin/reportManagement(cp=${pagination.prevPage }  )}">&lt;</a></li>
  
            <!-- 특정 페이지로 이동 -->
  
  
  
            <!-- 현재 보고있는 페이지 -->
            <!-- #numbers.sequence(1,10) 1~10증가하며 차례대로 추가한 리스트 -->
            <th:block th:each ="i : ${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}">
                <li th:if="${i == pagination.currentPage}" class="page-item active" >
                    <a class="page-link active" th:text="${i}">1</a>
                </li>
  
                <!-- 보고있지 않은 페이지 -->                    
                <li th:unless="${i == pagination.currentPage}" class="page-item"> 
                    <a class="page-link" th:href="@{/admin/reportManagement( cp=${i}  )} " th:text="${i}">2</a> 
                </li>
            </th:block>
  
  
  
            <!-- 다음 목록 시작 번호로 이동 -->
            <li class="page-item"><a class="page-link" th:href="@{/admin/reportManagement( cp=${pagination.nextPage }  )}">&gt;</a></li>
  
            <!-- 끝 페이지로 이동 -->
            <li class="page-item"><a class="page-link" th:href="@{/admin/reportManagement( cp=${pagination.maxPage }  )}">&gt;&gt;</a></li>

        </ul>
      </nav>

    </section>


  </section>
  </main>
  <script src="/js/admin/admin_sidebar.js"></script>
  <script src="/js/admin/report_management.js"></script>
</body>
</html>