:root{
  font-size: 62.5%;

}

.out-box{
  margin: 80px;
  width: 800px;
}

.detailed-inquiry-h1{
  font-size: 3rem;
}


.detailed-inquiry-out-box{
  margin: auto;
}

.detailed-inquiry-input{
  box-sizing: border-box !important;
  margin-left: 20px;
  width: 70% !important;
  margin: 0 10px;
}


.search-detail-li{
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  width: 550px !important;
}

.detailed-inquiry-title{
  font-weight: bold !important;
}

.detailed-inquiry-btn{
  width: 100%;
}

.input-tag{
  width: 200px;
}