:root{
  font-size: 62.5%;

}

.out-box{
  margin: 80px;
  width: 800px;
}

.detailed-inquiry-h1{
  font-size: 3rem;
  text-align: center;
}


.detailed-inquiry-out-box{
  display: flex;
  justify-content: center;

  width: 100% !important;
  
  margin: auto;
}

.detailed-inquiry-input{
  box-sizing: border-box !important;
  margin-left: 20px;
  width: 70% !important;
  margin: 0 10px;
}

.input-tag{
  width: 100% !important;
}

.tag-box{
  box-sizing: border-box !important;
  width: 70% !important;
  margin: 0 10px;
  padding: 0;
}

.input-tag{
  margin: 0 !important;
}


.search-detail-li{
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  width: 650px !important;
}

.detailed-inquiry-title{
  text-align: center !important;
  font-weight: bold !important;
  margin: auto !important;
}

.detailed-inquiry-btn{
  width: 100%;
}

.delete-btn{
  font-size: 1.4rem !important;
  margin-right: 10px;
  width: 80px;
  cursor: pointer;
}

.c-po{
  cursor: pointer !important;
}