:root{
  font-size: 62.5%;
  --color-main: #FF884B;
  --color-bg: #F1EFEF;
  --color-bg2: #FFD384;
  --padding-font: 0.5rem 1rem 0;
}

h1{
  font-size: 3.5rem;
}

.out-box{
  width: 1000px;
  margin: 80px;
}

.back-btn{
  background-color: #D9D9D9;
  width: 180px;
  height: 50px;
  border: none;
  font-size: 2rem !important;
  font-weight: bold !important;
}

.detail-table-box{
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #D9D9D9;
  padding: 25px;
  margin: 20px 0;
  width: 100%;
}

.detail-table{
  background-color: white;
  border-collapse: separate;
  border-spacing: 0 10px;
  width: 100%;
  height: 500px;
}

.detail-th{
  font-size: 1.8rem;
  background-color: #B9B9B9;
  width: 20%;
}

.detail-td{
  font-size: 1.5rem;
}

.detail-row{
  border: 1px black solid;
}

.board-search-table{
  text-align: center;
  border-collapse: collapse;
  width: 100%;
  height: 50px;
  padding: 0;
}

.board-search-td{
  padding: 0;
}

.board-search-td > button{
  font-size: 2rem;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}



/* 유저 정보 */
.userInfo{
  width: 100%;
  margin: 3rem 0;
  height: 60rem;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  box-sizing: border-box;
}
.userInfo-image{
  height: 16rem;
  width: 16rem;
  box-sizing: border-box;
  
}
.userInfo-image img{
  height: 16rem;
  box-sizing: border-box;
  width: 16rem;
  border-radius: 1rem;
}
.userInfo-row{
  box-sizing: border-box;
  display: flex;
  background-color: var(--color-bg);
  border-radius: 2rem;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}
.userInfo-id{
  box-sizing: border-box;
  width: 30rem;
  font-size: 1.5rem;
  text-align: center;
}
.userInfo-nickname{
  width: 30rem;
  box-sizing: border-box;
  font-size: 4rem;
  text-align: center;
}
.userInfo-grade{
  width: 12rem;
  font-size: 3rem;
  text-align: center;
  box-sizing: border-box;
}

.userInfo-intro{
  font-size: 3rem;
  box-sizing: border-box;
}


.counts{
  box-sizing: border-box;
  font-size: 1.9rem;
}
.counts>div{
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.countsNumber{
  text-align: center;
  box-sizing: border-box;
  margin-top: 1rem;
}
.fa-lg{
  box-sizing: border-box;
  margin-right: 1rem;
}
.fa-heart{
  color: red;
}
.fa-star{
  color: gold;
}
.fa-utensils{
  color: silver;
}
.fa-pencil{
  color: brown;
}
.fa-comment-dots{
  color: black;
}

.memberIntro{
  box-sizing: border-box;
  justify-content: center;
}
.edit-userInfo-row{
  box-sizing: border-box;
  flex-direction: column;
  position: relative;
}

.profile{
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#profileInput{ display: none;}
.profileInput{ 
  box-sizing: border-box;
  font-size: 1.3rem;
  border-radius: 0.6rem;
  background-color: var(--color-main);
  color: white;
  padding: 0.2rem;
  cursor: pointer;
}
#xBtn{
  box-sizing: border-box;
  display: flex;
  position: absolute;
  background-color: var(--color-main);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  top: -0.5em;
  right: -0.5rem;
}
#xBtn i{
  box-sizing: border-box;
  font-size: 1rem;
  color: black;
  margin: auto;
}

.search-area{
  width: 100%;
}

.search-btn{
  width: 23%;
  height: 50px;
  font-size: 2rem !important;
  font-weight: bold !important;

}

.btn-box{
  cursor: none !important;
}