<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>공지사항</title>
  <link rel="stylesheet" href="/css/project.css">
</head>
<body>
  <th:block th:replace="~{common/header}"></th:block>
  <main>
    <div class="main-container">
      <div class="cs-title">
        <p>공지사항</p>
      </div>
      <div class="content-container">
        <div class="notice">
          <span>No.1</span>
          <span>첫 번째 공지사항 입니다</span>
          <span>작성자</span>
          <span>날짜</span>
          <span>조회수</span>
        </div>
        <div class="notice notice-content">
            <p>
                이곳은 내용을 적는 곳입니다<br>
                만나서 반갑습니다
            </p>
        </div>
      </div>
    </div>
  </main>
  
















  <script src="/js/project.js"></script>
</body>
</html>