
/* 유저 정보 */
.userInfo{
  width: 70%;
  margin: 3rem 0;
  height: 60rem;
  display: flex;
  padding: 2rem;
  flex-direction: column;
}
.userInfo-image{
  height: 16rem;
  width: 16rem;
  
}
.userInfo-image img{
  height: 16rem;
  width: 16rem;
  border-radius: 1rem;
}
.userInfo-row{
  display: flex;
  background-color: var(--color-bg);
  border-radius: 2rem;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}
.userInfo-id{
  width: 30rem;
  font-size: 1.5rem;
  text-align: center;
}
.userInfo-nickname{
  width: 30rem;
  font-size: 4rem;
  text-align: center;
}
.userInfo-grade{
  width: 10rem;
  font-size: 3rem;
  text-align: center;
}

.userInfo-intro{
  font-size: 3rem;
}

.cs-title{
  width: 90%;
  margin: 3rem 0 2rem 0;
  display: flex;
  justify-content: space-between;
}
.cs-title>a{
  margin: 0.5rem;
  font-size: 3rem;
  color: var(--color-bg);
}

.counts{
  font-size: 1.9rem;
}
.counts>div{
  display: flex;
  align-items: center;
}
.countsNumber{
  text-align: center;
  margin-top: 1rem;
}
.fa-lg{
  margin-right: 1rem;
}
.fa-heart{
  color: red;
}
.fa-star{
  color: gold;
}
.fa-utensils{
  color: silver;
}
.fa-pencil{
  color: brown;
}
.fa-comment-dots{
  color: black;
}
.validation{
  font-size: 1.5rem;
  height: 1.7rem;
}
.memberIntro{
  justify-content: center;
  width: 100%;
  position: relative;
}
.memberIntro>span{
  font-size: 3rem;
  position: absolute;
  left: -15rem;
}
.edit-userInfo-row{
  flex-direction: column;
  position: relative;
}
.memberProfile{

}
.profile{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#profileInput{ display: none;}
.profileInput{ 
  font-size: 1.3rem;
  border-radius: 0.6rem;
  background-color: var(--color-main);
  color: white;
  padding: 0.2rem;
  cursor: pointer;
}
#xBtn{
  display: flex;
  position: absolute;
  background-color: var(--color-main);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  top: -0.5em;
  right: -0.5rem;
}
#xBtn i{
  font-size: 1rem;
  color: black;
  margin: auto;
}
.myPageSubtitle{
  font-size: 3rem;
}
.editFrm{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#changeBtn{
  border-radius: 1rem;
  font-size: 2rem;
  padding: 0.5rem 0.5rem 0rem;
  align-self: flex-end;
}