<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>문의사항</title>
  <link rel="stylesheet" href="/css/common/project.css">
  <link rel="stylesheet" href="/css/cs/cs.css">
</head>
<body>
  <th:block th:replace="~{common/header}"></th:block>
  <main>
    <div class="main-container">
      <div class="cs-title">
        <p>1대1 문의</p>
      </div>
      <div class="cs-subtitle-container">
        <div class="cs-subtitle">
          내 문의 사항
        </div>
      </div>
      <div class="content-container">
        <div class="notice">
          내 문의1
        </div>
        <div class="notice">
          내 문의1
        </div>
        <div class="notice">
          내 문의1
        </div>
      </div>
      <button><a href="/cs/inquiry/fillOut">문의 작성</a></button>
    </div>
  </main>
  
















  <script src="/js/common/project.js"></script>
  <script src="/js/cs/cs.js"></script>
</body>
</html>