<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>문의사항 답글</title>
  <link rel="stylesheet" href="/css/common/project.css">
  <link rel="stylesheet" href="/css/cs/inquiry/inquiryReply.css">
</head>
<body>
  <th:block th:replace="~{common/header}"></th:block>
  <main>
    <div class="main-container">
      <div class="inquiryReply-mainTitle">  
        <a>1:1 문의 답글</a>
      </div>
      <form action="update" method="POST" th:object="${inquiry}" class="inquiry-reply" id="inquiryUpdateFrm" enctype="multipart/form-data">
        <div th:text="*{inquiryTitle}" class="inquiryReply-title"></div>
        <div th:text="*{inquiryContent}" class="inquiryReply-content"></div>
        <div class="raa"> 답글 작성란 </div>
        <textarea name="inquiryReply" id="" cols="30" rows="10" class="inquiryReply-textarea" th:text="*{inquiryReply}"></textarea>
        <div class="btn-area">
          <button class="inquiryWrite-btn">제출</button>
        </div>
      </form>
    </div>
  </main>
  
  <th:block th:replace="~{common/footer}"></th:block>
  <script src="/js/common/project.js"></script>
</body>
</html>