<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>문의사항 게시판</title>
  <link rel="stylesheet" href="/css/common/project.css">
  <link rel="stylesheet" href="/css/cs/inquiry/inquiry.css">
  <script src="https://kit.fontawesome.com/921e1d60a7.js" crossorigin="anonymous"></script>
</head>
<body>
  <th:block th:replace="~{common/header}"></th:block>
  <main th:with="inquiryList=${map.inquiryList}, pagination=${map.pagination}">
    <div class="main-container">
      <div class="inquiry-title">
        <a href="/cs/inquiry">문의사항</a>
      </div>
      <div class="content-container">
        <div class="inquiry-main">
          <span>번호</span>
          <span>제목</span>
          <span>작성자</span>
        </div>
        <th:block th:each="inquiry : ${inquiryList}" th:object="${inquiry}">
          <div class="line-area">
            <a th:href="@{/cs/inquiry/{inquiryNo}(inquiryNo=*{inquiryNo})}" class="inquiry">
              <span th:text="*{inquiryNo}">No.1</span>
              <span class="line-area1" th:text="*{inquiryTitle}">첫 번째 공지사항 입니다</span>
              <span class="line-area1" th:text="*{memberNickname}">작성자</span>
            </a>
          </div>
        </th:block>
      </div>
        <div class="btn-area">
          <th:block th:if="${session.loginMember}">
            <button id="insertBtn">작성하기</button>
          </th:block>  
        </div>
      <div class="page-number">
        <ul>
          <li><a href="/cs/inquiry"><i class="fa-solid fa-backward-step"></i></a></li>
          <li><a th:href="@{/cs/inquiry(cp=${pagination.prevPage})}"><i class="fa-solid fa-caret-left fa-lg"></i></a></li>
          <th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}">
            <li th:if="${i == pagination.currentPage}"><a style="color: black;" class="text" th:text="${i}">1</a></li>
            <li th:unless="${i == pagination.currentPage}"><a th:href="@{/cs/inquiry(cp=${i})}" class="text" th:text="${i}">1</a></li>
          </th:block>
          <li><a th:href="@{/cs/inquiry(cp=${pagination.nextPage})}"><i class="fa-solid fa-caret-right fa-lg"></i></a></li>
          <li><a th:href="@{/cs/inquiry(cp=${pagination.maxPage})}"><i class="fa-solid fa-forward-step"></i></a></li>
        </ul>
      </div>
    </div>
</main>














  <th:block th:replace="~{common/footer}"></th:block>


  <script src="/js/common/project.js"></script>
  <script src="/js/cs/inquiry/inquiry.js"></script>
</body>
</html>