<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 연결할 인터페이스의 패키지명.인터페이스명을 작성 -->
<mapper namespace="com.m1k.goldenSpoon.admin.model.mapper.AdminMapper">
	
	<resultMap id="myPage_rm" type="Member">
		<id property="memberNo" column="MEMBER_NO"/>
		<association property="likeCount" select="selectMyPageLikeCount" column="MEMBER_NO" javaType="_int"/>
		<association property="bookmarkCount" select="selectMyPageBookmarkCount" column="MEMBER_NO" javaType="_int"/>
		<association property="recipeCount" select="selectMyPageRecipeCount" column="MEMBER_NO" javaType="_int"/>
		<association property="boardCount" select="selectMyPageBoardCount" column="MEMBER_NO" javaType="_int"/>
	</resultMap>
	
	<select id="selectMyPageLikeCount" resultType="_int">
		SELECT COUNT(*) FROM (SELECT RL.MEMBER_NO FROM RECIPE_LIKE RL JOIN RECIPE R USING(RECIPE_NO) WHERE R.MEMBER_NO = #{memberNo}
			UNION SELECT BL.MEMBER_NO FROM BOARD_LIKE BL JOIN BOARD B USING(BOARD_NO) WHERE B.MEMBER_NO = #{memberNo})
	</select>
	<select id="selectMyPageBookmarkCount" resultType="_int">
		SELECT COUNT(*) FROM RECIPE_BOOKMARK JOIN RECIPE R USING(RECIPE_NO) WHERE  R.MEMBER_NO = #{memberNo}
	</select>
	<select id="selectMyPageRecipeCount" resultType="_int">
		SELECT COUNT(*) FROM "RECIPE" WHERE MEMBER_NO = #{memberNo}
	</select>
	<select id="selectMyPageBoardCount" resultType="_int">
		SELECT COUNT(*) FROM "BOARD" WHERE MEMBER_NO = #{memberNo}
	</select>
	<select id="selectMyPageCommentCount" resultType="_int">
		SELECT COUNT(*) FROM "COMMENT" WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<resultMap id="MemberRecipeSelect_rm" type="Recipe">
		<id property="recipeNo" column="RECIPE_NO" />
		<collection property="recipeTag" select="selectRecipeTag" column="RECIPE_NO" javaType="java.util.ArrayList" ofType="String" />
	</resultMap>
	<select id="selectRecipeTag" resultType="string">
		SELECT RECIPE_TAG_NAME FROM "RECIPE_TAG"
		WHERE RECIPE_NO = #{recipeNo}
	</select>
	
	
	<!-- 전체 회원 수 조회 -->
	<select id="selectListCount">
		SELECT COUNT(*) FROM "MEMBER"
		WHERE MEMBER_DEL_FL = 'N'
	</select>

	<!-- 검색 회원 수 조회 -->	
	<select id="searchListCount">
		SELECT COUNT(*) FROM "MEMBER"
		WHERE MEMBER_DEL_FL = 'N'
		<if test="memberNickname != null">
			AND MEMBER_NICKNAME LIKE '%${memberNickname}%'
		</if>
		<if test="memberEmail != null">
			AND MEMBER_EMAIL LIKE '%${memberEmail}%'
		</if>
		<if test="memberEmail != null">
			AND MEMBER_ID LIKE '%${memberId}%'
		</if>
	</select>
	
	<!-- 회원 전체 조회 -->
	<select id="selectMember" resultType="Member">
		
		SELECT MEMBER_NO ,MEMBER_EMAIL ,MEMBER_NICKNAME ,MEMBER_AUTHORITY, MEMBER_ID, MEMBER_DEL_FL
		FROM "MEMBER"
		ORDER BY MEMBER_NO
		
	</select>
	
	<!-- 회원 검색 조회 -->
	<select id="searchMember" resultType="Member">
		
		SELECT MEMBER_NO ,MEMBER_EMAIL ,MEMBER_NICKNAME ,MEMBER_AUTHORITY, MEMBER_ID, MEMBER_DEL_FL
		FROM "MEMBER"
		WHERE MEMBER_DEL_FL IN ('N','Y')
		<if test="memberNickname != null">
			AND MEMBER_NICKNAME LIKE '%${memberNickname}%'
		</if>
		<if test="memberEmail != null">
			AND MEMBER_EMAIL LIKE '%${memberEmail}%'
		</if>
		<if test="memberId != null">
			AND MEMBER_ID LIKE '%${memberId}%'
		</if>
		ORDER BY MEMBER_NO
		
	</select>

	<!-- 관리자 권한 변경 -->	
	<update id="changeAuthority">
		UPDATE "MEMBER" SET 
		MEMBER_AUTHORITY = #{memberAuthority}
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<!-- 회원 탈퇴 여부 변경 -->
	<update id="changeMemberDelFl">
		UPDATE "MEMBER" SET
		MEMBER_DEL_FL = #{memberDelFl}
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<!-- 게시판 삭제 여부 변경 -->
	<update id="changeBoardDelFl">
		UPDATE "BOARD" SET
		BOARD_DEL_FL = #{boardDelFl}
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<!-- 게시글 댓글 삭제 여부 변경 -->
	<update id="changeBoardCommentDelFl">
		UPDATE "BOARD_COMMENT" SET
		BOARD_COMMENT_DEL_FL = #{commentDelFl}
		WHERE BOARD_COMMENT_NO = #{commentNo}
	</update>
	
	<!-- 레시피 댓글 삭제 여부 변경 -->
	<update id="changeRecipeCommentDelFl">
		UPDATE "RECIPE_COMMENT" SET
		RECIPE_COMMENT_DEL_FL = #{commentDelFl}
		WHERE RECIPE_COMMENT_NO = #{commentNo}
	</update>
	
	<!-- 회원 상세 조회 -->
	<select id="memberDetail" resultMap="myPage_rm">
		SELECT MEMBER_EMAIL, MEMBER_NICKNAME, MEMBER_PROFILE, TO_CHAR(MEMBER_ENROLL_DATE, 'YYYY"년" MM"월" DD"일"')
			MEMBER_ENROLL_DATE, MEMBER_AUTHORITY, MEMBER_INTRO, MEMBER_NO
		FROM "MEMBER"			
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	
	<!-- 게시판 개수 구하기 -->
	<select id="recipeListCount" resultType="_int">
		SELECT COUNT (DISTINCT (R.RECIPE_NO))
		FROM RECIPE R
		LEFT JOIN "MEMBER" USING(MEMBER_NO)
		LEFT JOIN RECIPE_STEP RS ON(R.RECIPE_NO = RS.RECIPE_NO) 
		LEFT JOIN RECIPE_TAG RT ON(R.RECIPE_NO = RT.RECIPE_NO) 
		LEFT JOIN RECIPE_MATERIAL RM ON(R.RECIPE_NO = RM.RECIPE_NO)
		
		WHERE RECIPE_DEL_FL = 'N'
		AND RECIPE_TITLE LIKE '%${searchRecipe.recipeTitle}%'
		<if test="searchRecipe.memberNo != 0">
			AND MEMBER_NO = #{searchRecipe.memberNo}  
		</if>
		AND MEMBER_NICKNAME LIKE '%${searchRecipe.memberNickname}%'
		AND (RECIPE_INTRO LIKE '%${searchRecipe.recipeContent}%'
		OR RECIPE_TIP LIKE '%${searchRecipe.recipeContent}%'
		OR RECIPE_STEP_CONTENT LIKE '%${searchRecipe.recipeContent}%')
		<if test="searchRecipe.recipeTag != null">
			<foreach collection="searchRecipe.recipeTag" item="tag">
			<if test="tag != null and tag != ''">
				AND RECIPE_TAG_NAME LIKE '%${tag}%'			
			</if>
			</foreach>
		</if>
	</select>
	
	<!-- 레시피 검색 -->
	<select id="recipeSelect">
		SELECT DISTINCT (R.RECIPE_NO), RECIPE_TITLE, RECIPE_THUMBNAIL, (SELECT COUNT(*) FROM RECIPE_LIKE RL WHERE RL.RECIPE_NO = R.RECIPE_NO) RECIPE_LIKE,
		MEMBER_NICKNAME, MEMBER_NO, RECIPE_HITS
		FROM RECIPE R
		LEFT JOIN "MEMBER" USING(MEMBER_NO)
		LEFT JOIN RECIPE_STEP RS ON(R.RECIPE_NO = RS.RECIPE_NO) 
		LEFT JOIN RECIPE_TAG RT ON(R.RECIPE_NO = RT.RECIPE_NO) 
		LEFT JOIN RECIPE_MATERIAL RM ON(R.RECIPE_NO = RM.RECIPE_NO)
		
		WHERE RECIPE_DEL_FL = 'N'
		AND RECIPE_TITLE LIKE '%${searchRecipe.recipeTitle}%'
		<if test="searchRecipe.memberNo != 0">
			AND MEMBER_NO = #{searchRecipe.memberNo} 
		</if>
		AND MEMBER_NICKNAME LIKE '%${searchRecipe.memberNickname}%'
		
		AND (RECIPE_INTRO LIKE '%${searchRecipe.recipeContent}%'
		OR RECIPE_TIP LIKE '%${searchRecipe.recipeContent}%'
		OR RECIPE_STEP_CONTENT LIKE '%${searchRecipe.recipeContent}%')
		
		<if test="searchRecipe.recipeTag != null">
			<foreach collection="searchRecipe.recipeTag" item="tag">
			<if test="tag != null and tag != ''">
				AND RECIPE_TAG_NAME LIKE '%${tag}%'			
			</if>
			</foreach>
		</if>

		ORDER BY RECIPE_NO ASC
	</select>
	
	<!-- 이름이 포함된 회원 번호들 구하기 -->
	 <select id="getMemberNos">
	 	SELECT MEMBER_NO 
		FROM "MEMBER"
		WHERE MEMBER_NICKNAME LIKE '%${memberNickname}%'
	 </select>
	
	<!-- 게시판 개수 구하기 -->
	<select id="boardListCount" resultType="_int">
		SELECT COUNT(*) FROM "BOARD"
		WHERE BOARD_DEL_FL IN ('N', 'Y')
		
		<!-- 회원 번호 -->
		<if test="memberNos.size() != 0">
			AND MEMBER_NO IN 
			<foreach collection="memberNos" item="memberNo" open="(" separator="," close=")">
				#{memberNo}			
			</foreach>
		</if>
		<if test="memberNos.size() == 0">
				AND MEMBER_NO = 0
		</if>
		AND BOARD_TITLE LIKE '%${searchBoard.boardTitle}%'
		AND BOARD_CONTENT LIKE '%${searchBoard.boardContent}%'
	</select>

	<!-- 게시글 다중 검색 -->
	<select id="boardResult">
		SELECT BOARD_NO, BOARD_CODE , BOARD_DEL_FL,
		BOARD_TITLE ,
		BOARD_HITS, 
		TO_CHAR(BOARD_ENROLL_DATE, 'YYYY"년" MM"월" DD"일"') BOARD_ENROLL_DATE,
		MEMBER_NICKNAME
		FROM "BOARD"
		JOIN "MEMBER" USING (MEMBER_NO)
		WHERE BOARD_DEL_FL IN ('N', 'Y')
		
		<!-- 회원 번호 -->
		<if test="memberNos.size() != 0">
			AND MEMBER_NO IN 
			<foreach collection="memberNos" item="memberNo" open="(" separator="," close=")">
				#{memberNo}			
			</foreach>
		</if>
		<if test="memberNos.size() == 0">
				AND MEMBER_NO = 0
		</if>
		AND BOARD_TITLE LIKE '%${searchBoard.boardTitle}%'
		AND BOARD_CONTENT LIKE '%${searchBoard.boardContent}%'
	</select>
	
	<!-- 댓글 개수 구하기 -->
	<select id="commentListCount">
		SELECT COUNT(*) 
		FROM 
			(
			SELECT MEMBER_NO , 
			BOARD_NO AS COMMENT_PARENT_NO,
			BOARD_COMMENT_ENROLL_DATE AS COMMENT_ENROLL_DATE ,
			BOARD_COMMENT_CONTENT AS COMMENT_CONTENT,
			BOARD_COMMENT_DEL_FL AS COMMENT_DEL_FL,
			'게시글' AS COMMENT_TYPE,
			(SELECT BOARD_TITLE FROM BOARD b WHERE b.BOARD_NO = bc.BOARD_NO) AS COMMENT_PARENT_TITLE
			FROM BOARD_COMMENT bc  
			UNION ALL
			SELECT MEMBER_NO , 
			RECIPE_NO AS COMMENT_PARENT_NO,
			RECIPE_COMMENT_ENROLL_DATE AS COMMENT_ENROLL_DATE ,
			RECIPE_COMMENT_CONTENT AS COMMENT_CONTENT,
			RECIPE_COMMENT_DEL_FL AS COMMENT_DEL_FL,
			'레시피' AS COMMENT_TYPE,
			(SELECT r.RECIPE_TITLE FROM RECIPE r  WHERE r.RECIPE_NO = rc.RECIPE_NO) AS COMMENT_PARENT_TITLE
			FROM RECIPE_COMMENT rc 
			)
		WHERE COMMENT_DEL_FL IN ('N', 'Y')
		AND COMMENT_PARENT_TITLE LIKE '%${searchComment.commentParentTitle}%'
		AND COMMENT_CONTENT LIKE '%${searchComment.commentContent}%'
		<if test="memberNos.size() != 0">
			AND MEMBER_NO IN 
			<foreach collection="memberNos" item="memberNo" open="(" separator="," close=")">
				#{memberNo}			
			</foreach>
		</if>
		<if test="memberNos.size() == 0">
			AND MEMBER_NO = 0
		</if>
	</select>
	
	<!-- 댓글 다중 검색-->
	<select id="commentResult">
		SELECT MEMBER_NO ,
			COMMENT_NO,
			COMMENT_PARENT_NO,
			TO_CHAR(COMMENT_ENROLL_DATE, 'YYYY"년" MM"월" DD"일"') COMMENT_ENROLL_DATE,
			COMMENT_CONTENT,
			COMMENT_DEL_FL,
			COMMENT_TYPE,
			COMMENT_PARENT_TITLE,
			MEMBER_NICKNAME 
		FROM 
			(
			SELECT MEMBER_NO , 
			BOARD_COMMENT_NO AS COMMENT_NO,
			BOARD_NO AS COMMENT_PARENT_NO,
			BOARD_COMMENT_ENROLL_DATE AS COMMENT_ENROLL_DATE ,
			BOARD_COMMENT_CONTENT AS COMMENT_CONTENT,
			BOARD_COMMENT_DEL_FL AS COMMENT_DEL_FL,
			'게시글' AS COMMENT_TYPE,
			(SELECT BOARD_TITLE FROM BOARD b WHERE b.BOARD_NO = bc.BOARD_NO) AS COMMENT_PARENT_TITLE,
			(SELECT MEMBER_NICKNAME FROM "MEMBER" m WHERE M.MEMBER_NO = BC.MEMBER_NO) MEMBER_NICKNAME 
			FROM BOARD_COMMENT bc  
			UNION ALL
			SELECT MEMBER_NO , 
			RECIPE_COMMENT_NO AS COMMENT_NO,
			RECIPE_NO AS COMMENT_PARENT_NO,
			RECIPE_COMMENT_ENROLL_DATE AS COMMENT_ENROLL_DATE ,
			RECIPE_COMMENT_CONTENT AS COMMENT_CONTENT,
			RECIPE_COMMENT_DEL_FL AS COMMENT_DEL_FL,
			'레시피' AS COMMENT_TYPE,
			(SELECT r.RECIPE_TITLE FROM RECIPE r  WHERE r.RECIPE_NO = rc.RECIPE_NO) AS COMMENT_PARENT_TITLE,
			(SELECT MEMBER_NICKNAME FROM "MEMBER" m WHERE M.MEMBER_NO = RC.MEMBER_NO) MEMBER_NICKNAME 
			FROM RECIPE_COMMENT rc 
			)
		WHERE COMMENT_DEL_FL IN ('N', 'Y')
		AND COMMENT_PARENT_TITLE LIKE '%${searchComment.commentParentTitle}%'
		AND COMMENT_CONTENT LIKE '%${searchComment.commentContent}%'
		<if test="memberNos.size() != 0">
			AND MEMBER_NO IN 
			<foreach collection="memberNos" item="memberNo" open="(" separator="," close=")">
				#{memberNo}			
			</foreach>
		</if>
		<if test="memberNos.size() == 0">
			AND MEMBER_NO = 0
		</if>
	</select>
	
	
	<!-- 미승인 강사 신청 개수-->
	<select id="instructorListCount">
		SELECT COUNT(*)
		FROM INSTRUCTOR i  
		WHERE MEMBER_APPROVAL = 'N' 
	</select>
	
	
	<!-- 미승인 강사신청 조회 -->
	<select id="instructorApproval">
		SELECT MEMBER_NO ,MEMBER_NAME ,MEMBER_TEL ,MEMBER_ADDRESS ,MEMBER_PLAN ,MEMBER_APPROVAL ,MEMBER_RATING ,
		(SELECT MEMBER_NICKNAME FROM "MEMBER" m WHERE M.MEMBER_NO = I.MEMBER_NO) AS MEMBER_NICKNANM
		FROM INSTRUCTOR i  
		WHERE MEMBER_APPROVAL = 'N' 
	</select>
	
	<update id="boardDelete">
		UPDATE "BOARD" SET 
		BOARD_DEL_FL = 'Y' 
		WHERE BOARD_NO = ${boardNo} 	</update>
	
	<!-- 게시글 댓글 삭제 -->
	<update id="deleteBoardComment">
		UPDATE "BOARD_COMMENT" SET 
		BOARD_COMMENT_DEL_FL = 'Y' 
		WHERE BOARD_COMMENT_NO = ${commentNo} 	</update>
	
	<!-- 레시피 댓글 삭제 -->
	<update id="deleteRecipeComment">
		UPDATE "RECIPE_COMMENT" SET 
		RECIPE_COMMENT_DEL_FL = 'Y' 
		WHERE RECIPE_COMMENT_NO = ${commentNo} 	</update>
	
	<!-- 신고 전체 개수 조회 -->
	<select id="selectLeportListCount">
		SELECT COUNT(*) 
		FROM REPORT R
	</select>
	
	<select id="searchLeportListCount">
		SELECT COUNT(*) 
		FROM REPORT R
		WHERE REPORT_TITLE LIKE '%%'
		AND REPORT_CONTENT LIKE '%%'
	</select>
	
	<select id="searchReport">
		SELECT REPORT_NO ,MEMBER_NO ,REPORT_CONTENT ,
			REPORTER_NO ,REPORT_TITLE ,REPORT_TYPE ,REPORT_CONTENT_NO ,
			(SELECT MEMBER_NICKNAME FROM "MEMBER" m WHERE R.MEMBER_NO = M.MEMBER_NO) MEMBER_NICKNAME ,
			(SELECT MEMBER_NICKNAME FROM "MEMBER" m WHERE R.REPORTER_NO = M.MEMBER_NO) REPORTER_NICKNAME 
		FROM REPORT R
		WHERE REPORT_TITLE LIKE '%%'
		AND REPORT_CONTENT LIKE '%%'
	</select>
	
	<!-- 신고 전체 조회 -->
	<select id="selectReport">
		SELECT REPORT_NO ,MEMBER_NO ,REPORT_CONTENT , REPORT_ANSWER,
			REPORTER_NO ,REPORT_TITLE ,REPORT_TYPE ,REPORT_CONTENT_NO ,
			(SELECT MEMBER_NICKNAME FROM "MEMBER" m WHERE R.MEMBER_NO = M.MEMBER_NO) MEMBER_NICKNAME ,
			(SELECT MEMBER_NICKNAME FROM "MEMBER" m WHERE R.REPORTER_NO = M.MEMBER_NO) REPORTER_NICKNAME 
		FROM REPORT R
		WHERE REPORT_ANSWER IN ('N', 'Y')
		ORDER BY REPORT_NO DESC
	</select>
	
	<!-- 신고 상세 조회 -->
	<select id="reportDetail">
		SELECT REPORT_NO ,MEMBER_NO ,REPORT_CONTENT , REPORT_LOCATION,
			REPORTER_NO ,REPORT_TITLE ,REPORT_TYPE ,REPORT_CONTENT_NO ,
			(SELECT MEMBER_NICKNAME FROM "MEMBER" m WHERE R.MEMBER_NO = M.MEMBER_NO) MEMBER_NICKNAME ,
			(SELECT MEMBER_NICKNAME FROM "MEMBER" m WHERE R.REPORTER_NO = M.MEMBER_NO) REPORTER_NICKNAME 
		FROM REPORT R
		WHERE REPORT_NO = #{reportNo}

	</select>
	
	<!-- 신고 답변 삽입 -->
	<update id="reportAnswer">
		UPDATE REPORT SET 
		REPORT_ANSWER = 'Y'
		WHERE REPORT_NO = #{reportNo}
	</update>
</mapper>