<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 연결할 인터페이스의 패키지명.인터페이스명을 작성 -->
<mapper namespace="com.m1k.goldenSpoon.board.model.mapper.BoardMapper">
	
	<select id="getBoardListCount" resultType="_int">
		SELECT COUNT(*)
		FROM "BOARD"
		WHERE BOARD_CODE = #{boardCode}
	</select>
	
	<select id="selectAllBoard" resultType="Board">
		SELECT BOARD_NO, BOARD_TITLE, BOARD_CONTENT, 
		TO_CHAR(BOARD_ENROLL_DATE, 'YYYY-MM-DD') BOARD_ENROLL_DATE,
		BOARD_HITS, BOARD_CODE, MEMBER_NICKNAME, BOARD_TYPE
		FROM "BOARD"
		JOIN MEMBER USING(MEMBER_NO)
		JOIN BOARD_TYPE USING(BOARD_CODE)
		WHERE BOARD_CODE = #{boardCode}
		AND BOARD_DEL_FL = 'N'
		ORDER BY BOARD_NO DESC
	</select>
	
	<select id="boardDetail" resultType="Board">
		SELECT BOARD_NO, BOARD_TITLE, BOARD_CONTENT, 
		TO_CHAR(BOARD_ENROLL_DATE, 'YYYY-MM-DD') BOARD_ENROLL_DATE,
		BOARD_HITS, BOARD_CODE, MEMBER_NICKNAME, BOARD_TYPE, MEMBER_NO
		FROM "BOARD"
		JOIN MEMBER USING(MEMBER_NO)
		JOIN BOARD_TYPE USING(BOARD_CODE)
		WHERE BOARD_NO = #{boardNo}
		AND BOARD_CODE = #{boardCode}
	</select>
	
</mapper>