<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 연결할 인터페이스의 패키지명.인터페이스명을 작성 -->
<mapper namespace="com.m1k.goldenSpoon.cs.model.mapper.CsMapper">
	
	<!-- 공지사항 검색 -->
	<select id="noticeSelect" resultType="Notice">
		SELECT BOARD_NO, BOARD_TITLE, MEMBER_NICKNAME,
			TO_CHAR(BOARD_ENROLL_DATE, 'YYYY"-"MM"-"DD') BOARD_ENROLL_DATE, BOARD_HITS
		FROM BOARD 
		JOIN "MEMBER" USING(MEMBER_NO)
		WHERE BOARD_TITLE LIKE '%${searchNotice}%'
		OR BOARD_CONTENT LIKE '%${searchNotice}%'
		AND BOARD_CODE = 2
	</select>

	<select id="selectAllNotice" resultType="Notice">
		SELECT BOARD_NO, BOARD_TITLE, MEMBER_NICKNAME,
			TO_CHAR(BOARD_ENROLL_DATE, 'YYYY"-"MM"-"DD') BOARD_ENROLL_DATE, BOARD_HITS
		FROM "BOARD" JOIN "MEMBER" USING(MEMBER_NO) 
		WHERE BOARD_CODE = 2
		ORDER BY BOARD_NO DESC
	</select>
	
	<select id="noticeDetail" resultType="Notice">
		SELECT BOARD_NO, BOARD_TITLE, MEMBER_NICKNAME, BOARD_CONTENT,
			TO_CHAR(BOARD_ENROLL_DATE, 'YYYY"-"MM"-"DD') BOARD_ENROLL_DATE, BOARD_HITS
		FROM "BOARD" JOIN "MEMBER" USING(MEMBER_NO)
		WHERE BOARD_NO = #{noticeNo}
		AND BOARD_CODE = 2
	</select>
	
	<select id="getNoticeListCount" resultType="_int">
		SELECT COUNT(*) FROM "BOARD" WHERE BOARD_CODE = 2
	</select>
</mapper>