<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 연결할 인터페이스의 패키지명.인터페이스명을 작성 -->
<mapper namespace="com.m1k.goldenSpoon.board.model.mapper.EditBoardMapper">
	
	<!-- 게시글 삭제 -->
	<update id="deleteBoard">
		UPDATE "BOARD" SET
		BOARD_DEL_FL = 'Y'
		WHERE BOARD_CODE = #{boardCode}
		AND BOARD_NO = #{boardNo}
		AND MEMBER_NO = #{memberNo}
	</update>
	
	<insert id="insertBoard" parameterType="Board" useGeneratedKeys="true">
		<selectKey order="BEFORE" resultType="_int" keyProperty="boardNo" >
			SELECT SEQ_BOARD_NO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO "BOARD"
		VALUES( #{boardNo} , #{boardTitle},  #{boardContent},
			DEFAULT, DEFAULT, DEFAULT, #{boardCode}, #{memberNo} )
	</insert>
	
	<!-- 업로드된 게시글 이미지 일괄 삽입-->
	<insert id="insertUploadList" parameterType="list">
		INSERT INTO "BOARD_IMAGE"
		<foreach collection="list" item="img" separator=" UNION ">
			SELECT NEXT_BOARD_IMAGE_NO(),
				   #{img.boardImage},
				   #{img.boardImageOrder},
				   #{img.boardNo},
				   #{img.boardImageRename},
				   #{img.boardImageName}
	   		FROM DUAL
		</foreach>
	</insert>
	
</mapper>