<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 연결할 인터페이스의 패키지명.인터페이스명을 작성 -->
<mapper namespace="com.m1k.goldenSpoon.member.model.mapper.MemberMapper">
	
	<select id="login" resultType="Member" >
		SELECT MEMBER_ID, MEMBER_EMAIL , MEMBER_PW , MEMBER_NICKNAME , MEMBER_NO, MEMBER_AUTHORITY
		FROM "MEMBER"
		WHERE MEMBER_ID = #{memberId}
		AND MEMBER_DEL_FL = 'N'
	</select>
	
	<insert id="signup">
		INSERT INTO "MEMBER" VALUES (SEQ_MEMBER_NO.NEXTVAL,
		#{memberId}, 
		#{memberEmail}, 
		#{memberPw}, 
		#{memberNickname},
		NULL, DEFAULT, DEFAULT, 1, null)
	</insert>
	
	<select id="findId">
		SELECT MEMBER_ID 
		FROM "MEMBER"
		WHERE MEMBER_EMAIL = #{memberEmail}
	</select>
	
	
	 <select id="findMember">
		 SELECT MEMBER_NO
		FROM "MEMBER"
		WHERE MEMBER_ID = #{memberId}
		AND MEMBER_EMAIL = #{memberEmail}
	 </select>
	
	
	 <update id="changePw">
		UPDATE "MEMBER" SET 
		MEMBER_PW = #{memberPw}
		WHERE MEMBER_NO = #{memberNo}
	 </update>
	 
 	<select id="checkEmail" resultType="_int">
		SELECT count(*) FROM "MEMBER" 
		WHERE MEMBER_DEL_FL = 'N'
		AND MEMBER_EMAIL = #{email}
	</select>
	 
 	<select id="checkNickname" resultType="_int">
		SELECT count(*) FROM "MEMBER" 
		WHERE MEMBER_DEL_FL = 'N'
		AND MEMBER_NICKNAME = #{nickname}
	</select>

</mapper>