<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 연결할 인터페이스의 패키지명.인터페이스명을 작성 -->
<mapper namespace="com.m1k.goldenSpoon.myPage.model.mapper.MyPageMapper">
	
	<!-- 멤버의 기록들 -->
	<resultMap id="myPage_rm" type="Member">
		<id property="memberNo" column="MEMBER_NO"/>
		<association property="likeCount" select="selectMyPageLikeCount" column="MEMBER_NO" javaType="_int"/>
		<association property="bookmarkCount" select="selectMyPageBookmarkCount" column="MEMBER_NO" javaType="_int"/>
		<association property="recipeCount" select="selectMyPageRecipeCount" column="MEMBER_NO" javaType="_int"/>
		<association property="boardCount" select="selectMyPageBoardCount" column="MEMBER_NO" javaType="_int"/>
		<association property="commentCount" select="selectMyPageCommentCount" column="MEMBER_NO" javaType="_int"/>
	</resultMap>
	<!--좋아요 받은 수-->
	<select id="selectMyPageLikeCount" resultType="_int">
		SELECT COUNT(*) FROM (SELECT RL.MEMBER_NO FROM RECIPE_LIKE RL JOIN RECIPE R USING(RECIPE_NO) WHERE R.MEMBER_NO = #{memberNo}
			UNION SELECT BL.MEMBER_NO FROM BOARD_LIKE BL JOIN BOARD B USING(BOARD_NO) WHERE B.MEMBER_NO = #{memberNo})
	</select>
	<!--즐겨찾기 받은 수-->
	<select id="selectMyPageBookmarkCount" resultType="_int">
		SELECT COUNT(*) FROM RECIPE_BOOKMARK JOIN RECIPE R USING(RECIPE_NO) WHERE  R.MEMBER_NO = #{memberNo}
	</select>
	<!--레시피 등록 수-->
	<select id="selectMyPageRecipeCount" resultType="_int">
		SELECT COUNT(*) FROM "RECIPE" WHERE MEMBER_NO = #{memberNo}
		AND RECIPE_DEL_FL = 'N'
	</select>
	<!--게시글 등록 수-->
	<select id="selectMyPageBoardCount" resultType="_int">
		SELECT COUNT(*) FROM "BOARD" WHERE MEMBER_NO = #{memberNo}
		AND BOARD_DEL_FL = 'N'
	</select>
	<!--댓글 등록 수-->
	<select id="selectMyPageCommentCount" resultType="_int">
		SELECT COUNT(*) FROM(
			SELECT * FROM RECIPE_COMMENT
			UNION
			SELECT * FROM BOARD_COMMENT)
		WHERE RECIPE_COMMENT_DEL_FL = 'N'
		AND MEMBER_NO = #{memberNo}
	</select>
	
	<resultMap id="recipeSelect_rm" type="Recipe">
		<id property="recipeNo" column="RECIPE_NO" />
		<association property="recipeStar" select="selectRecipeStar" column="RECIPE_NO" javaType="_double"/>
		<collection property="recipeTag" select="selectRecipeTag" column="RECIPE_NO" javaType="java.util.ArrayList" ofType="String" />
	</resultMap>
	<resultMap id="myRecipeSelect_rm" type="Recipe">
		<id property="recipeNo" column="RECIPE_NO" />
		<association property="recipeStar" select="selectRecipeStar" column="RECIPE_NO" javaType="_double"/>
		<collection property="recipeTag" select="selectRecipeTag" column="RECIPE_NO" javaType="java.util.ArrayList" ofType="String" />
	</resultMap>
	<select id="selectRecipeTag" resultType="string">
		SELECT RECIPE_TAG_NAME FROM "RECIPE_TAG"
		WHERE RECIPE_NO = #{recipeNo}
	</select>
	<select id="selectRecipeStar" resultType="_double">
		SELECT ROUND(AVG(RECIPE_STAR), 1) RECIPE_STAR FROM RECIPE_STAR WHERE RECIPE_NO = #{recipeNo}
	</select>
	<!--<resultMap id="boardSelect_rm" type="Board">
		<id property="boardNo" column="BOARD_NO" />
		<association property="boardLikeCount" select="selectBoardLikeCount" column="BOARD_NO" javaType="_int" />
		<association property="recipeStar" select="selectRecipeStar" column="RECIPE_NO" javaType="_double"/>
	</resultMap>
	<select id="selectBoardLikeCount" resultType="_int">
		SELECT COUNT(*) FROM BOARD_LIKE WHERE BOARD_NO = #{boardNo}
	</select>	-->
	
	
	
	<select id="myPage" resultMap="myPage_rm">
		SELECT MEMBER_EMAIL, MEMBER_NICKNAME, MEMBER_PROFILE, TO_CHAR(MEMBER_ENROLL_DATE, 'YYYY"년" MM"월" DD"일"')
			MEMBER_ENROLL_DATE, MEMBER_AUTHORITY, MEMBER_INTRO, MEMBER_NO
		FROM "MEMBER"			
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<select id="getRecipeListCount" resultType="_int">
		SELECT COUNT(*) FROM "RECIPE_BOOKMARK" RL
		JOIN "RECIPE" USING(RECIPE_NO)
		WHERE RL.MEMBER_NO = #{memberNo}
		AND RECIPE_DEL_FL = 'N'
	</select>
	
	<select id="recipeSelect" resultMap="recipeSelect_rm">
		SELECT R.RECIPE_NO, RECIPE_TITLE, RECIPE_THUMBNAIL, (SELECT COUNT(*) FROM RECIPE_LIKE RL WHERE RL.RECIPE_NO = R.RECIPE_NO) RECIPE_LIKE,
		RECIPE_HITS, MEMBER_NICKNAME, R.MEMBER_NO
		FROM RECIPE R JOIN RECIPE_BOOKMARK RB ON(R.RECIPE_NO = RB.RECIPE_NO)
		JOIN "MEMBER" M ON(M.MEMBER_NO = R.MEMBER_NO)
		WHERE RB.MEMBER_NO = #{memberNo}
		AND RECIPE_DEL_FL = 'N'
	</select>
	
	<select id="getBoardListCount" resultType="_int">
		SELECT COUNT(*) FROM "BOARD"
		WHERE MEMBER_NO = #{memberNo}
		AND BOARD_DEL_FL = 'N'
	</select>
	
	<select id="boardSelect" resultType="Board">
		SELECT BOARD_NO, BOARD_TITLE, TO_CHAR(BOARD_ENROLL_DATE, 'YYYY-MM-DD') BOARD_ENROLL_DATE, BOARD_TYPE,
			BOARD_CODE, BOARD_HITS, MEMBER_NICKNAME, (SELECT COUNT(*) FROM BOARD_LIKE BL WHERE BL.BOARD_NO = B.BOARD_NO) BOARD_LIKE_COUNT 
		FROM BOARD B
		JOIN "MEMBER" USING(MEMBER_NO)
		JOIN BOARD_TYPE USING(BOARD_CODE)
		WHERE MEMBER_NO = #{memberNo}
		AND BOARD_DEL_FL = 'N'
	</select>
	<select id="getMyRecipeListCount" resultType="_int">
		SELECT COUNT(*) FROM "RECIPE"
		WHERE MEMBER_NO = #{memberNo}
		AND RECIPE_DEL_FL = 'N'
	</select>
	
	<select id="myRecipeSelect" resultMap="myRecipeSelect_rm">
		SELECT RECIPE_NO, RECIPE_TITLE, RECIPE_THUMBNAIL, (SELECT COUNT(*) FROM RECIPE_LIKE RL WHERE RL.RECIPE_NO = R.RECIPE_NO) RECIPE_LIKE,
		MEMBER_NICKNAME, MEMBER_NO, RECIPE_HITS
		FROM RECIPE R
		JOIN "MEMBER" USING(MEMBER_NO)
		WHERE MEMBER_NO = #{memberNo}
		AND RECIPE_DEL_FL = 'N'
		ORDER BY RECIPE_NO DESC
	</select>
	
	<!-- 프로필 사진 변경 -->
	<update id="myPageEditProfile">
		UPDATE "MEMBER" SET
		MEMBER_PROFILE = #{memberProfile}
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<!--닉네임 유효성 검사-->
	<select id="myPageValidation" resultType="_int">
		SELECT COUNT(*) FROM "MEMBER"
		WHERE MEMBER_NICKNAME = #{memberNickname}
	</select>
	
	<!--내 정보 수정-->
	<update id="myPageEdit">
		UPDATE "MEMBER" SET
		MEMBER_NICKNAME = #{memberNickname},
		MEMBER_INTRO = #{memberIntro}
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<!--로그인 멤버 현재 비번 가져오기-->
	<select id="getMemberPw" resultType="string">
		SELECT MEMBER_PW FROM "MEMBER"
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<update id="changePw">
		UPDATE "MEMBER"
		SET MEMBER_PW = #{newPassword}
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<!-- 북마크 검색 개수-->
	<select id="getMyPageBookmarkSearchListCount" resultType="_int">
		SELECT COUNT(DISTINCT R.RECIPE_NO)
		FROM "RECIPE" R
		LEFT JOIN RECIPE_TAG RT ON(R.RECIPE_NO = RT.RECIPE_NO)
		LEFT JOIN RECIPE_STEP RS ON(R.RECIPE_NO = RS.RECIPE_NO) 
		LEFT JOIN RECIPE_MATERIAL RM ON(R.RECIPE_NO = RM.RECIPE_NO)
		LEFT JOIN MATERIAL M ON(M.MATERIAL_NO = RM.MATERIAL_NO)
		WHERE (RECIPE_TITLE LIKE '%${inputSearch}%'
		OR RECIPE_INTRO LIKE '%${inputSearch}%'
		OR RECIPE_TIP LIKE '%${inputSearch}%'
		OR RECIPE_TAG_NAME LIKE '%${inputSearch}%'
		OR RECIPE_STEP_CONTENT LIKE '%${inputSearch}%'
		OR MATERIAL_NAME LIKE '%${inputSearch}%')
		AND RECIPE_DEL_FL = 'N'
		AND R.RECIPE_NO IN(SELECT RECIPE_NO FROM RECIPE_BOOKMARK WHERE MEMBER_NO = #{memberNo})
	</select>
	
	<!--북마크 검색-->
	<select id="myPageBookmarkSearchSelect" resultMap="recipeSelect_rm">
		SELECT DISTINCT R.RECIPE_NO, RECIPE_TITLE, RECIPE_THUMBNAIL, (SELECT COUNT(*) FROM RECIPE_LIKE RL WHERE RL.RECIPE_NO = R.RECIPE_NO) RECIPE_LIKE,
		MEMBER_NICKNAME, MEMBER_NO, RECIPE_HITS, (SELECT ROUND(AVG(RECIPE_STAR), 1) RECIPE_STAR FROM RECIPE_STAR RST WHERE RST.RECIPE_NO = R.RECIPE_NO) RECIPE_STAR
		FROM "RECIPE" R
		LEFT JOIN "MEMBER" USING(MEMBER_NO)
		LEFT JOIN RECIPE_TAG RT ON(R.RECIPE_NO = RT.RECIPE_NO)
		LEFT JOIN RECIPE_STEP RS ON(R.RECIPE_NO = RS.RECIPE_NO) 
		LEFT JOIN RECIPE_MATERIAL RM ON(R.RECIPE_NO = RM.RECIPE_NO)
		LEFT JOIN MATERIAL M ON(M.MATERIAL_NO = RM.MATERIAL_NO)
		WHERE (RECIPE_TITLE LIKE '%${inputSearch}%'
		OR RECIPE_INTRO LIKE '%${inputSearch}%'
		OR RECIPE_TIP LIKE '%${inputSearch}%'
		OR RECIPE_TAG_NAME LIKE '%${inputSearch}%'
		OR RECIPE_STEP_CONTENT LIKE '%${inputSearch}%'
		OR MATERIAL_NAME LIKE '%${inputSearch}%')
		AND RECIPE_DEL_FL = 'N'
		AND R.RECIPE_NO IN(SELECT RECIPE_NO FROM RECIPE_BOOKMARK WHERE MEMBER_NO = #{memberNo})
		<if test='orderBy == 1'>
			ORDER BY RECIPE_LIKE DESC
		</if>
		<if test='orderBy == 2'>
			ORDER BY RECIPE_STAR DESC
		</if>
		<if test='orderBy == 3'>
			ORDER BY RECIPE_NO DESC
		</if>
		<if test="orderBy == 4">
			ORDER BY RECIPE_HITS DESC
		</if>
		NULLS LAST
	</select>
	
	<!--북마크 작성자로 검색 개수-->
	<select id="getMyPageBookmarkWriterListCount">
		SELECT COUNT(*) FROM RECIPE R
		JOIN "MEMBER" USING(MEMBER_NO)
		WHERE MEMBER_NICKNAME LIKE '%${inputSearch}%'
		AND RECIPE_DEL_FL = 'N'
		AND R.RECIPE_NO IN(SELECT RECIPE_NO FROM RECIPE_BOOKMARK WHERE MEMBER_NO = #{memberNo})
	</select>
	<!--북마크 작성자로 검색-->
	<select id="myPageBookmarkWriterSelect" resultMap="recipeSelect_rm">
		SELECT RECIPE_NO, RECIPE_TITLE, RECIPE_THUMBNAIL, (SELECT COUNT(*) FROM RECIPE_LIKE RL WHERE RL.RECIPE_NO = R.RECIPE_NO) RECIPE_LIKE,
		MEMBER_NICKNAME, MEMBER_NO, RECIPE_HITS
		FROM "RECIPE" R JOIN "MEMBER" USING(MEMBER_NO)
		WHERE RECIPE_DEL_FL = 'N'
		AND MEMBER_NICKNAME LIKE '%${inputSearch}%'
		AND R.RECIPE_NO IN(SELECT RECIPE_NO FROM RECIPE_BOOKMARK WHERE MEMBER_NO = #{memberNo})
		ORDER BY RECIPE_NO DESC
	</select>
	
	<!-- 내가 쓴 글에서 검색 개수-->
	<select id="getMyPageRecipeSearchListCount" resultType="_int">
		SELECT COUNT(DISTINCT R.RECIPE_NO)
		FROM "RECIPE" R
		LEFT JOIN RECIPE_TAG RT ON(R.RECIPE_NO = RT.RECIPE_NO)
		LEFT JOIN RECIPE_STEP RS ON(R.RECIPE_NO = RS.RECIPE_NO) 
		LEFT JOIN RECIPE_MATERIAL RM ON(R.RECIPE_NO = RM.RECIPE_NO)
		LEFT JOIN MATERIAL M ON(M.MATERIAL_NO = RM.MATERIAL_NO)
		WHERE (RECIPE_TITLE LIKE '%${inputSearch}%'
		OR RECIPE_INTRO LIKE '%${inputSearch}%'
		OR RECIPE_TIP LIKE '%${inputSearch}%'
		OR RECIPE_TAG_NAME LIKE '%${inputSearch}%'
		OR RECIPE_STEP_CONTENT LIKE '%${inputSearch}%'
		OR MATERIAL_NAME LIKE '%${inputSearch}%')
		AND RECIPE_DEL_FL = 'N'
		AND MEMBER_NO = #{memberNo}
	</select>
	
	<!--내가 쓴 글에서 검색-->
	<select id="myPageRecipeSearchSelect" resultMap="recipeSelect_rm">
		SELECT DISTINCT R.RECIPE_NO, RECIPE_TITLE, RECIPE_THUMBNAIL, (SELECT COUNT(*) FROM RECIPE_LIKE RL WHERE RL.RECIPE_NO = R.RECIPE_NO) RECIPE_LIKE,
		MEMBER_NICKNAME, MEMBER_NO, RECIPE_HITS, (SELECT ROUND(AVG(RECIPE_STAR), 1) RECIPE_STAR FROM RECIPE_STAR RST WHERE RST.RECIPE_NO = R.RECIPE_NO) RECIPE_STAR
		FROM "RECIPE" R
		LEFT JOIN "MEMBER" USING(MEMBER_NO)
		LEFT JOIN RECIPE_TAG RT ON(R.RECIPE_NO = RT.RECIPE_NO)
		LEFT JOIN RECIPE_STEP RS ON(R.RECIPE_NO = RS.RECIPE_NO) 
		LEFT JOIN RECIPE_MATERIAL RM ON(R.RECIPE_NO = RM.RECIPE_NO)
		LEFT JOIN MATERIAL M ON(M.MATERIAL_NO = RM.MATERIAL_NO)
		WHERE (RECIPE_TITLE LIKE '%${inputSearch}%'
		OR RECIPE_INTRO LIKE '%${inputSearch}%'
		OR RECIPE_TIP LIKE '%${inputSearch}%'
		OR RECIPE_TAG_NAME LIKE '%${inputSearch}%'
		OR RECIPE_STEP_CONTENT LIKE '%${inputSearch}%'
		OR MATERIAL_NAME LIKE '%${inputSearch}%')
		AND RECIPE_DEL_FL = 'N'
		AND MEMBER_NO = #{memberNo}
		<if test='orderBy == 1'>
			ORDER BY RECIPE_LIKE DESC
		</if>
		<if test='orderBy == 2'>
			ORDER BY RECIPE_STAR DESC
		</if>
		<if test='orderBy == 3'>
			ORDER BY RECIPE_NO DESC
		</if>
		<if test="orderBy == 4">
			ORDER BY RECIPE_HITS DESC
		</if>
		NULLS LAST
	</select>
	
	<select id="getMyPageBoardSearchListCount" resultType="_int">
		SELECT COUNT(*) FROM BOARD
		WHERE MEMBER_NO = #{memberNo}
		AND (BOARD_TITLE LIKE '%${inputSearch}%'
		OR BOARD_CONTENT LIKE '%${inputSearch}%')
	</select>
	
	<select id="getMyPageBoardSearchSelect" resultType="Board">
		SELECT BOARD_NO, BOARD_TITLE, TO_CHAR(BOARD_ENROLL_DATE, 'YYYY-MM-DD') BOARD_ENROLL_DATE,
			BOARD_CODE, BOARD_HITS, MEMBER_NICKNAME, BOARD_TYPE
		FROM BOARD B
		JOIN "MEMBER" USING(MEMBER_NO)
		JOIN "BOARD_TYPE" USING(BOARD_CODE)
		WHERE MEMBER_NO = #{memberNo}
		AND BOARD_DEL_FL = 'N'
		AND (BOARD_TITLE LIKE '%${inputSearch}%'
		OR BOARD_CONTENT LIKE '%${inputSearch}%')
	</select>
	
</mapper>