<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 연결할 인터페이스의 패키지명.인터페이스명을 작성 -->
<mapper namespace="com.m1k.goldenSpoon.recipe.model.mapper.RecipeMapper">

	<resultMap id="recipeDetail_rm" type="Recipe">
		
		<id property="recipeNo" column="RECIPE_NO" />
		<association property="recipeStar" select="selectRecipeStar" column="RECIPE_NO" javaType="_double"/>
		<collection property="recipeStepList" select="selectRecipeStep" column="RECIPE_NO" javaType="java.util.ArrayList" ofType="RecipeStep" />
		<collection property="recipeMaterialList" select="selectRecipeMaterial" column="RECIPE_NO" javaType="java.util.ArrayList" ofType="RecipeMaterial" />
		<collection property="recipeCommentList" select="selectRecipeComment" column="RECIPE_NO" javaType="java.util.ArrayList" ofType="RecipeComment" />
		<collection property="recipeTag" select="selectRecipeTag" column="RECIPE_NO" javaType="java.util.ArrayList" ofType="String" />
		<collection property="recipePicture" select="selectRecipePicture" column="RECIPE_NO" javaType="java.util.ArrayList" ofType="RecipePicture" />
		
	</resultMap>
	<resultMap id="selectRecipe_rm" type="Recipe">
		<id property="recipeNo" column="RECIPE_NO" />
		<!--<association property="recipeStar" select="selectRecipeStar" column="RECIPE_NO" javaType="_double"/>-->
		<collection property="recipeTag" select="selectRecipeTag" column="RECIPE_NO" javaType="java.util.ArrayList" ofType="String" />
	</resultMap>




	<select id="listCount" resultType="_int">
		SELECT COUNT(*) FROM RECIPE
	</select>
	<select id="listWriterCount" resultType="_int">
		SELECT COUNT(*) FROM RECIPE
		JOIN "MEMBER" USING(MEMBER_NO)
		WHERE MEMBER_NICKNAME LIKE '%${inputSearch}%'
		AND RECIPE_DEL_FL = 'N'
	</select>
	<!-- 작성자 이름으로 검색 -->
	<select id="selectWriterRecipe" resultMap="selectRecipe_rm">
		SELECT RECIPE_NO, RECIPE_TITLE, RECIPE_THUMBNAIL, (SELECT COUNT(*) FROM RECIPE_LIKE RL WHERE RL.RECIPE_NO = R.RECIPE_NO) RECIPE_LIKE,
		MEMBER_NICKNAME, MEMBER_NO, RECIPE_HITS
		FROM "RECIPE" R JOIN "MEMBER" USING(MEMBER_NO)
		WHERE RECIPE_DEL_FL = 'N'
		AND MEMBER_NICKNAME LIKE '%${inputSearch}%'
		ORDER BY RECIPE_NO DESC
	</select>
	<select id="selectRecipe" resultMap="selectRecipe_rm">
		SELECT RECIPE_NO, RECIPE_TITLE, RECIPE_THUMBNAIL, (SELECT COUNT(*) FROM RECIPE_LIKE RL WHERE RL.RECIPE_NO = R.RECIPE_NO) RECIPE_LIKE,
		MEMBER_NICKNAME, MEMBER_NO, RECIPE_HITS
		FROM "RECIPE" R JOIN "MEMBER" USING(MEMBER_NO)
		WHERE RECIPE_DEL_FL = 'N'
		ORDER BY RECIPE_NO DESC
	</select>
	
	<select id="recipeDetail" resultMap="recipeDetail_rm">
		SELECT RECIPE_NO, RECIPE_TITLE, RECIPE_THUMBNAIL, RECIPE_INTRO, RECIPE_TIP, RECIPE_VIDEO,
			TO_CHAR(RECIPE_ENROLL_DATE, 'YYYY-MM-DD') RECIPE_ENROLL_DATE,
			RECIPE_TIME, RECIPE_PEOPLE, RECIPE_LEVEL, MEMBER_NO, MEMBER_NICKNAME,
			MEMBER_PROFILE, MEMBER_INTRO, RECIPE_HITS, (SELECT COUNT(*) FROM RECIPE_LIKE RL WHERE RL.RECIPE_NO = R.RECIPE_NO) RECIPE_LIKE
		FROM "RECIPE" R JOIN "MEMBER" USING(MEMBER_NO)
		WHERE RECIPE_NO = #{recipeNo}
		AND RECIPE_DEL_FL = 'N'
	</select>	
	<select id="selectRecipeStep" resultType="RecipeStep">
		SELECT RECIPE_STEP_CONTENT, RECIPE_STEP_ORDER, RECIPE_STEP_IMAGE, RECIPE_STEP_IMAGE_RENAME
		FROM "RECIPE_STEP"
		WHERE RECIPE_NO = #{recipeNo}
		ORDER BY RECIPE_STEP_ORDER
	</select>
	<select id="selectRecipePicture" resultType="RecipePicture">
		SELECT RECIPE_IMAGE, RECIPE_IMAGE_ORDER, RECIPE_IMAGE_RENAME
		FROM RECIPE_PICTURE
		WHERE RECIPE_NO = #{recipeNo}
	</select>
	<select id="selectRecipeMaterial" resultType="RecipeMaterial">
		SELECT MATERIAL_NAME, RECIPE_MATERIAL_QUANTITY, RECIPE_MATERIAL_ORDER
		FROM RECIPE_MATERIAL LEFT JOIN MATERIAL USING(MATERIAL_NO)
		WHERE RECIPE_NO = #{recipeNo}
	</select>
	<select id="selectRecipeComment" resultType="RecipeComment">
		
		SELECT LEVEL, C.* FROM (SELECT RECIPE_COMMENT_NO, RECIPE_COMMENT_CONTENT,
			TO_CHAR(RECIPE_COMMENT_ENROLL_DATE, 'YYYY-MM-DD HH24:MI:SS') RECIPE_COMMENT_ENROLL_DATE,
			RECIPE_NO, MEMBER_NO, MEMBER_NICKNAME, MEMBER_PROFILE, RECIPE_PARENT_NO, RECIPE_COMMENT_DEL_FL
         	FROM "RECIPE_COMMENT"
			JOIN MEMBER USING(MEMBER_NO)
			WHERE RECIPE_NO = #{recipeNo}) C
      	WHERE RECIPE_COMMENT_DEL_FL = 'N'
    	OR 0 != (SELECT COUNT(*) FROM "RECIPE_COMMENT" SUB
                  WHERE SUB.RECIPE_PARENT_NO = C.RECIPE_COMMENT_NO
                  AND RECIPE_COMMENT_DEL_FL = 'N')
      	START WITH RECIPE_PARENT_NO IS NULL
      	CONNECT BY PRIOR RECIPE_COMMENT_NO = RECIPE_PARENT_NO
      	ORDER SIBLINGS BY RECIPE_COMMENT_NO
		
	</select>
	<select id="selectRecipeTag" resultType="string">
		SELECT RECIPE_TAG_NAME FROM "RECIPE_TAG"
		WHERE RECIPE_NO = #{recipeNo}
	</select>

	<select id="listSearchCount" resultType="_int">
		SELECT COUNT(DISTINCT R.RECIPE_NO)
		FROM "RECIPE" R
		LEFT JOIN RECIPE_TAG RT ON(R.RECIPE_NO = RT.RECIPE_NO)
		LEFT JOIN RECIPE_STEP RS ON(R.RECIPE_NO = RS.RECIPE_NO) 
		LEFT JOIN RECIPE_MATERIAL RM ON(R.RECIPE_NO = RM.RECIPE_NO)
		LEFT JOIN MATERIAL M ON(M.MATERIAL_NO = RM.MATERIAL_NO)
		WHERE (RECIPE_TITLE LIKE '%${inputSearch}%'
		OR RECIPE_INTRO LIKE '%${inputSearch}%'
		OR RECIPE_TIP LIKE '%${inputSearch}%'
		OR RECIPE_TAG_NAME LIKE '%${inputSearch}%'
		OR RECIPE_STEP_CONTENT LIKE '%${inputSearch}%'
		OR MATERIAL_NAME LIKE '%${inputSearch}%')
		AND RECIPE_DEL_FL = 'N'
	</select>
	
	<select id="selectSearchRecipe" resultMap="selectRecipe_rm">
		SELECT DISTINCT R.RECIPE_NO, RECIPE_TITLE, RECIPE_THUMBNAIL, (SELECT COUNT(*) FROM RECIPE_LIKE RL WHERE RL.RECIPE_NO = R.RECIPE_NO) RECIPE_LIKE,
		MEMBER_NICKNAME, MEMBER_NO, RECIPE_HITS, (SELECT ROUND(AVG(RECIPE_STAR), 1) RECIPE_STAR FROM RECIPE_STAR RST WHERE RST.RECIPE_NO = R.RECIPE_NO) RECIPE_STAR
		FROM "RECIPE" R
		LEFT JOIN "MEMBER" USING(MEMBER_NO)
		LEFT JOIN RECIPE_TAG RT ON(R.RECIPE_NO = RT.RECIPE_NO)
		LEFT JOIN RECIPE_STEP RS ON(R.RECIPE_NO = RS.RECIPE_NO) 
		LEFT JOIN RECIPE_MATERIAL RM ON(R.RECIPE_NO = RM.RECIPE_NO)
		LEFT JOIN MATERIAL M ON(M.MATERIAL_NO = RM.MATERIAL_NO)
		WHERE (RECIPE_TITLE LIKE '%${inputSearch}%'
		OR RECIPE_INTRO LIKE '%${inputSearch}%'
		OR RECIPE_TIP LIKE '%${inputSearch}%'
		OR RECIPE_TAG_NAME LIKE '%${inputSearch}%'
		OR RECIPE_STEP_CONTENT LIKE '%${inputSearch}%'
		OR MATERIAL_NAME LIKE '%${inputSearch}%')
		AND RECIPE_DEL_FL = 'N'
		<if test='orderBy == 1'>
			ORDER BY RECIPE_LIKE DESC
		</if>
		<if test='orderBy == 2'>
			ORDER BY RECIPE_STAR DESC
		</if>
		<if test='orderBy == 3'>
			ORDER BY RECIPE_NO DESC
		</if>
		<if test="orderBy == 4">
			ORDER BY RECIPE_HITS DESC
		</if>
		NULLS LAST
	</select>
	
	<delete id="deleteRecipeLike">
		DELETE FROM "RECIPE_LIKE"
		WHERE RECIPE_NO = #{recipeNo}
		AND MEMBER_NO = #{memberNo}
	</delete>
	
	<select id="likeCheck" resultType="_int">
		SELECT COUNT(*) FROM "RECIPE_LIKE"
		WHERE RECIPE_NO = #{recipeNo}
		AND MEMBER_NO = #{memberNo}
	</select>
	<select id="bookmarkCheck" resultType="_int">
		SELECT COUNT(*) FROM "RECIPE_BOOKMARK"
		WHERE RECIPE_NO = #{recipeNo}
		AND MEMBER_NO = #{memberNo}
	</select>
	
	<insert id="insertRecipeLike">
		INSERT INTO "RECIPE_LIKE"
		VALUES(${memberNo}, ${recipeNo})
	</insert>
	
	<select id="countRecipeLike" resultType="_int">
		SELECT COUNT(*) FROM "RECIPE_LIKE"
		WHERE RECIPE_NO = #{recipeNo}
	</select>
	
	<delete id="deleteRecipeBookmark">
		DELETE FROM "RECIPE_BOOKMARK"
		WHERE RECIPE_NO = #{recipeNo}
		AND MEMBER_NO = #{memberNo}
	</delete>
	
	<insert id="insertRecipeBookmark">
		INSERT INTO "RECIPE_BOOKMARK"
		VALUES(${memberNo},${recipeNo})
	</insert>
	
	<select id="selectPopularRecipe" resultMap="selectRecipe_rm">
		SELECT RECIPE_NO, RECIPE_TITLE, RECIPE_THUMBNAIL, (SELECT COUNT(*) FROM RECIPE_LIKE RL WHERE RL.RECIPE_NO = R.RECIPE_NO) RECIPE_LIKE,
		MEMBER_NICKNAME, MEMBER_NO, RECIPE_HITS
		FROM "RECIPE" R JOIN "MEMBER" USING(MEMBER_NO)
		WHERE RECIPE_DEL_FL = 'N'
		ORDER BY RECIPE_LIKE DESC
	</select>
	
	<!-- 별점 삽입 -->
	<insert id="insertRecipeStar">
		INSERT INTO "RECIPE_STAR"
		VALUES(${memberNo},${recipeNo},${recipeStar})
	</insert>
	
	<!-- 별점 수정 -->
	<update id="updateRecipeStar">
		UPDATE "RECIPE_STAR" SET
		RECIPE_STAR = #{recipeStar}
		WHERE MEMBER_NO = #{memberNo}
		AND RECIPE_NO = #{recipeNo}
	</update>
	
	<!-- 별점 수 체크 -->
	<select id="starsCheck" resultType="object">
		SELECT RECIPE_STAR FROM RECIPE_STAR
		WHERE MEMBER_NO = #{memberNo}
		AND RECIPE_NO = #{recipeNo}
	</select>
	
	<!-- 별점 평균 -->
	<select id="selectRecipeStar" resultType="_double">
		SELECT ROUND(AVG(RECIPE_STAR), 1) RECIPE_STAR FROM RECIPE_STAR WHERE RECIPE_NO = #{recipeNo}
	</select>
	
	
	<!-- 레시피 조회 수 증가-->
	<update id="updateRecipeHits">
		UPDATE "RECIPE" SET RECIPE_HITS = RECIPE_HITS + 1
		WHERE RECIPE_NO = #{recipeNo}
	</update>
	
	
	<!-- 레시피 등록 -->
	<insert id="insertRecipe" parameterType="Recipe" useGeneratedKeys="true">
	
		<selectKey order="BEFORE" resultType="_int" keyProperty="recipeNo">
			SELECT SEQ_RECIPE_NO.NEXTVAL FROM DUAL
		</selectKey>
		
		
		INSERT INTO "RECIPE"
		VALUES ( ${recipeNo} , #{recipeTitle}, #{recipeThumbnail}, #{recipeIntro}, #{recipeTip}, DEFAULT, DEFAULT,
		#{recipeTime}, ${memberNo}, DEFAULT, #{recipePeople}, #{recipeLevel}, #{recipeVideo})
	</insert>
	
	<!--레시피 과정 삽입-->
	<insert id="insertProcessList" parameterType="list">
		INSERT INTO "RECIPE_STEP" 
		<foreach collection="list" item="step" separator=" UNION ">
			SELECT NEXT_RECIPE_STEP_NO(),
				   ${step.recipeNo},
				   #{step.recipeStepContent},
				   ${step.recipeStepOrder},
				   #{step.recipeStepImage},
				   #{step.recipeStepImageRename},
				   #{step.recipeStepImageName}
			FROM DUAL
		</foreach>
		
	</insert>
	
	<!--레시피 완성 사진 삽입-->
	<insert id="insertCompleteList" parameterType="list">
		INSERT INTO "RECIPE_PICTURE"
		<foreach collection="list" item="img" separator=" UNION ">
			SELECT NEXT_RECIPE_PICTURE_NO(),
				   ${img.recipeNo},
				   #{img.recipeImage},
				   ${img.recipeImageOrder},
				   #{img.recipeImageRename},
				   #{img.recipeImageName}
			FROM DUAL
		</foreach>
	</insert>
	
	<!--레시피 태그 삽입-->
	<insert id="insertRecipeTag">
		INSERT INTO "RECIPE_TAG"
		<foreach collection="list" item="tag" separator=" UNION ">
			SELECT NEXT_RECIPE_TAG_NO(),
				   #{tag.recipeTagName},
				   ${tag.recipeNo}
			FROM DUAL
		</foreach>
	</insert>
	
	<!--재료 종류 추가-->
	<insert id="insertMaterialName">
		INSERT INTO "MATERIAL" 
		VALUES(SEQ_MATERIAL_NO.NEXTVAL, #{materialName})
	</insert>
	
	<!--레시피별 재료 삽입-->
	<insert id="insertRecipeMaterial">
		INSERT INTO "RECIPE_MATERIAL"
		<foreach collection="list" item="mat" separator=" UNION ">
			SELECT (SELECT MATERIAL_NO FROM MATERIAL WHERE MATERIAL_NAME = #{mat.materialName}),
				   ${mat.recipeNo},
				   #{mat.recipeMaterialQuantity},
				   ${mat.recipeMaterialOrder}
			FROM DUAL
		</foreach>
	</insert>
	
	<!-- 재료 이름 중복 체크 -->
	<select id="checkMaterial" resultType="_int">
		SELECT COUNT(*) FROM MATERIAL
		WHERE MATERIAL_NAME = #{materialName}
	</select>
</mapper>