<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>공지사항</title>
  <link rel="stylesheet" href="/css/common/project.css">
  <link rel="stylesheet" href="/css/board/boardDetail.css">
  <link rel="stylesheet" href="/css/board/boardComment.css">
  <script src="https://kit.fontawesome.com/921e1d60a7.js" crossorigin="anonymous"></script>
</head>
<body>
  <th:block th:replace="~{common/header}"></th:block>
  <main th:object="${board}">
    <div class="main-container">
      <div class="boardDetail-title">
        <a th:href="@{/board/{boardCode}(boardCode=${boardCode})}" th:text="*{boardType}">자유게시판</a>
      </div>
      <div class="content-container">
        <div class="board-container">
          <span>번호</span>
          <span>제목</span>
          <span>작성자</span>
          <span>게시판 이름</span>
          <span>작성 날짜</span>
          <span>조회수</span>
        </div>
        <div class="board">
          <span th:text="*{boardNo}">번호</span>
          <span th:text="*{boardTitle}">첫 번째 공지사항 입니다</span>
          <span th:text="*{memberNickname}">작성자 이름</span>
          <span th:text="*{boardType}">카테고리</span>
          <span th:text="*{boardEnrollDate}" >날짜</span>
          <span th:text="*{boardHits}">조회수</span>
        </div>
        
      <!-- 일반 이미지가 있을 경우 -->
      <th:block th:if="${#lists.size(board.imageList) > 0}" >
        <div class="img-box">
          <div th:each="i : ${#numbers.sequence(0, #lists.size(board.imageList)-1, 1)}" 
              th:with="path=|${board.imageList[i].boardImage}${board.imageList[i].boardImageRename}|"
              class="boardImg">
            <img th:src="${path}" class="preview">
          </div>
        </div>
      </th:block>
      
      <div class="board board-content" th:text="*{boardContent}">
        <p>
          이곳은 내용을 적는 곳입니다<br>
          만나서 반갑습니다
        </p>
      </div>


      <!-- 버튼 영역 -->
      <div class="detail-btn-area">
        <!-- 로그인한 회원과 게시글 작성자 번호가 같은 경우 -->
        <th:block th:if="${session.loginMember != null and
                          session.loginMember.memberNo == board.memberNo}">
          <button id="updateBtn">수 정</button>
          <button id="deleteBtn">삭 제</button>
        </th:block>
        <button id="goToBtn">목록으로</button>
      </div>


      <!-- 댓글 영역 -->
    <div class="board2-content">
      <div class="board2-subtitle">
        댓글
      </div>
      <th:block th:replace="~{board/boardComment}"></th:block>
    </div>
    </div>

    

  </main>


  <th:block th:replace="~{common/footer}"></th:block>


  <script th:inline="javascript">
    const boardCode = /*[[${board.boardCode}]]*/ "게시판 코드";
    const boardNo = /*[[${board.boardNo}]]*/ "게시글 번호";
    const loginMemberNo =/*[[${session.loginMember?.memberNo}]]*/ "로그인 회원번호";
    const userDefaultImage = /*[[#{user.default.image}]]*/ "회원 기본 이미지";
    const boards = /*[[${board}]]*/ "게시글";

    const loginCheck = /*[[${session.loginMember != null ? true : false}]]*/ "로그인 여부";
    // -----------------------------------------------------------
    // 게시글 수정 시 사용
  </script>


  <script src="/js/common/project.js"></script>
  <script src="/js/board/boardDetail.js"></script>
  <script src="/js/board/boardComment.js"></script>
</body>
</html>