<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>자유 게시판</title>
  <link rel="stylesheet" href="/css/board/board.css">
  <link rel="stylesheet" href="/css/common/project.css">
  <script src="https://kit.fontawesome.com/921e1d60a7.js" crossorigin="anonymous"></script>
</head>
<body>
  <th:block th:replace="~{common/header}"></th:block>
  <main th:with="boardList=${map.boardList}, pagination=${map.pagination}">
    <div class="main-container">
      <div class="cs-title">
        <a href="/board/select">자유게시판</a>
        <div class="searchForm">
          <input id="searchBoard" name="searchBoard" type="text" placeholder="검색어를 입력해주세요">
          <button id="searchBoardBtn" >검색</button>
        </div>
      </div>
      <div class="content-container">
        <th:block th:each="board : ${boardList}" th:object="${board}">
          <a th:href="@{/board/select/{boardNo}(boardNo=*{boardNo})}" class="board">
            <span th:text="*{boardNo}">No.1</span>
            <span th:text="*{boardTitle}">첫 번째 공지사항 입니다</span>
            <span th:text="*{boardCode}">게시판 종류</span>
            <span th:text="*{boardEnrollDate}" >날짜</span>
            <span th:text="*{boardHits}">조회수</span>
          </a>
        </th:block>
        <div class="btn-area">
          <!-- 로그인 상태일 때만 글쓰기 버튼 노출 -->
          <button id="insertBtn">작성하기</button>                     
        </div>
      </div>
      <div class="page-number">
        <ul th:if="${inputSearch == null}">
          <li><a href="/board/select"><i class="fa-solid fa-backward-step"></i></a></li>
          <li><a th:href="@{/board/select(cp=${pagination.prevPage})}"><i class="fa-solid fa-caret-left fa-lg"></i></a></li>
          <th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}">
            <li th:if="${i == pagination.currentPage}"><a style="color: black;" class="text" th:text="${i}">1</a></li>
            <li th:unless="${i == pagination.currentPage}"><a th:href="@{/board/select(cp=${i})}" class="text" th:text="${i}">1</a></li>
          </th:block>
          <li><a th:href="@{/board/select(cp=${pagination.nextPage})}"><i class="fa-solid fa-caret-right fa-lg"></i></a></li>
          <li><a th:href="@{/board/select(cp=${pagination.maxPage})}"><i class="fa-solid fa-forward-step"></i></a></li>
        </ul>
        <ul th:unless="${inputSearch == null}">
          <li><a th:href="@{/board/select/search(inputSearch=${inputSearch})}"><i class="fa-solid fa-backward-step"></i></a></li>
          <li><a th:href="@{/board/select/search(cp=${pagination.prevPage}, inputSearch=${inputSearch})}"><i class="fa-solid fa-caret-left fa-lg"></i></a></li>
          <th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}">
            <li th:if="${i == pagination.currentPage}"><a style="color: black;" class="text" th:text="${i}">1</a></li>
            <li th:unless="${i == pagination.currentPage}"><a th:href="@{/board/select/search(cp=${i}, inputSearch=${inputSearch})}" class="text" th:text="${i}">1</a></li>
          </th:block>
          <li><a th:href="@{/board/select/search(cp=${pagination.nextPage}, inputSearch=${inputSearch})}"><i class="fa-solid fa-caret-right fa-lg"></i></a></li>
          <li><a th:href="@{/board/select/search(cp=${pagination.maxPage}, inputSearch=${inputSearch})}"><i class="fa-solid fa-forward-step"></i></a></li>
        </ul>
      </div>
    </div>
  </main>



  <script src="/js/board/board.js"></script>
  <script src="/js/common/project.js"></script>
</body>
</html>