
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마이페이지 -> 비밀번호 변경</title>
  <link rel="stylesheet" href="/css/common/project.css">
  <link rel="stylesheet" href="/css/member/find_pw.css">
  <link rel="stylesheet" href="/css/member/member.css">
</head>
<body>
  <th:block th:replace="~{common/header}"></th:block>
  <main>
    <div class="main-container">

      <div class="container">
        <div class="box">
          <h1 class="login-title">비밀번호 변경 - 비밀번호 변경</h1>
          
    
          <form action="/member/changePw" method="post" id="changePwFrm">
            
            <div class="input-group">
              <input type="password" id="memberPw" name="memberPw" placeholder="비밀번호를 입력해주세요">
              <div class="signupTest" id="pwMessage">영어,숫자,특수문자(!,@,#,-,_) 6~20글자 사이로 입력해주세요</div>
            </div>

            <div class="input-group">
              <input type="password" id="memberPwConfirm" name="memberPwConfirm" placeholder="비밀번호를 다시 입력해주세요">
              <div class="signupTest" id="pwConfirmMessage">비밀번호 확인</div>
            </div>
            
            <input type="submit" value="비밀번호 변경" class="btn" id="login-submit">
            <input type="hidden" th:value="${memberNo}" name="memberNo">
          </form>
    
        </div>
      </div>

    </div>
  </main>
  <th:block th:replace="~{common/footer}"></th:block>
  <script src="/js/common/project.js"></script>
  <script src="/js/member/change_pw.js"></script>

</body>
</html>