
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>비밀번호 찾기</title>
  <link rel="stylesheet" href="/css/common/project.css">
  <link rel="stylesheet" href="/css/member/find_pw.css">
  <link rel="stylesheet" href="/css/member/member.css">
</head>
<body>
  <th:block th:replace="~{common/header}"></th:block>
  <main>
    <div class="main-container">

      <div class="container">
        <div class="box">
          <h1 class="login-title">비밀번호 변경</h1>
          
    
          <form action="/member/changePw" method="get">
            
            <div class="input-group">
              <input type="text" id="memberId" name="memberId" placeholder="아이디을 입력해주세요">
              <div class="signupTest" id="idMessage">4 ~ 16 자리의 영어 또는 숫자만 입력해주세요</div>

            </div>

            <div class="input-group">
              <input type="text" id="memberEmail" name="memberEmail" placeholder="이메일을 입력해주세요">
              <div class="signupTest" id="emailMessage">유효한 이메일을 입력해주세요</div>

            </div>
            
            <input type="submit" value="비밀번호 변경" class="btn" id="login-submit">
          </form>
    
        </div>
      </div>

    </div>
  </main>
  <th:block th:replace="~{common/footer}"></th:block>
  <script src="/js/common/project.js"></script>
  <script src="/js/member/find_pw.js"></script>

</body>
</html>