
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>아이디 찾기</title>
  <link rel="stylesheet" href="/css/common/project.css">
  <link rel="stylesheet" href="/css/member/find_id.css">
  <link rel="stylesheet" href="/css/member/member.css">
</head>
<body>
  <th:block th:replace="~{common/header}"></th:block>
  <main>
    <div class="main-container">

      <div class="container">
        <div class="box">
          <h1 class="login-title">아이디 찾기</h1>
          
    
          <form action="/member/findId" method="post">
            <div class="input-group">
              <input type="text" id="memberEmail" name="memberEmail" placeholder="이메일을 입력해주세요">
              <div class="signupTest" id="emailMessage">유효한 이메일을 입력해주세요</div>
            </div>
            
            <input type="submit" value="아이디 찾기" class="btn" id="login-submit">

          </form>
    
        </div>
      </div>

    </div>
  </main>
  <th:block th:replace="~{common/footer}"></th:block>
  <script src="/js/common/project.js"></script>
  <script src="/js/member/find_id.js"></script>

</body>
</html>