
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>기본 양식</title>
  <link rel="stylesheet" href="/css/common/project.css">
  <link rel="stylesheet" href="/css/member/login.css">
  <link rel="stylesheet" href="/css/member/member.css">

</head>
<body>
  <th:block th:replace="~{common/header}"></th:block>
  <main>
    <div class="main-container">

      <div class="container">
        <div class="box">
          <h1 class="login-title">로그인</h1>
          
    
          <form action="/member/login" method="post">
            <div class="input-group">
              <input type="text" id="memberId" name="memberId" placeholder="아이디를 입력해주세요">
              <div class="signupTest" id="idMessage">4 ~ 16 자리의 영어 또는 숫자만 입력해주세요</div>

            </div>
            
            <div class="input-group">
              <input type="password" id="memberPw" name="memberPw" placeholder="비밀번호를 입력해주세요">
              <div class="signupTest" id="pwMessage">영어,숫자,특수문자(!,@,#,-,_) 6~20글자 사이로 입력해주세요</div>

            </div>
            <label for=""><input type="checkbox" class="idCkBox">아이디 저장</label>
            <input type="submit" value="로그인" class="btn" id="login-submit">
          </form>
    
          <div class="btn-group">
            <a href="/member/findId" id="find-id" class="login-a">아이디 찾기</a> <span class="spaceb">|</span>
            <a href="/member/findPw" id="find-password" class="login-a">비밀번호 변경</a>
            <a href="/member/signup" id="signup" class="login-a">회원가입</a>

          </div>
        </div>
      </div>

    </div>
  </main>
  <th:block th:replace="~{common/footer}"></th:block>
  <script src="/js/common/project.js"></script>
  <script src="/js/member/login.js"></script>

</body>
</html>