<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QnA</title>
  <link rel="stylesheet" href="/css/common/project.css">
  <link rel="stylesheet" href="/css/cs/cs.css">
</head>
<body>
  <th:block th:replace="~{common/header}"></th:block>
  <main>
    <div class="main-container">
      <div class="cs-title">
        <a>자주 묻는 질문</a>
        <form action="" class="searchForm">
          <input id="searchNotice" name="searchNotice" type="text" placeholder="검색어를 입력해주세요">
          <button>검색</button>
        </form> 
      </div>

      <div class="content-container">
        <div class="qna-container">
          <div class="qna-q">
            질문
          </div>
          <div class="qna-a">
            대답
          </div>
        </div>
        <div class="qna-container">
          <div class="qna-q">
            질문
          </div>
          <div class="qna-a">
            대답
          </div>
        </div>
        <div class="qna-container">
          <div class="qna-q">
            질문
          </div>
          <div class="qna-a">
            대답입니다
            실험중
            실험중니다
            실험중
            실험중니다
            실험중
            실험중니다
            실험중
            실험중니다
            실험중
            실험중니다
            실험중
            실험중니다
            실험중
            실험중니다
            실험중
            실험중니다
            실험중
            실험중니다
            실험중
            실험중니다
            실험중
            실험중니다
            실험중
            실험중니다
            실험중
            실험중니다
            실험중
            실험중니다
            실험중
            실험중니다
            실험중
            실험중니다
            실험중
            실험중니다
            실험중
            실험중니다
            실험중
            실험중니다
            실험중
            실험중니다
            실험중
            실험중니다
            실험중
            실험중
          </div>
        </div>
      </div>


      

    </div>
  </main>
  
















  <script src="/js/common/project.js"></script>
  <script src="/js/cs/cs.js"></script>
</body>
</html>