<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QnA 상세 화면</title>
  <link rel="stylesheet" href="/css/common/project.css">
  <link rel="stylesheet" href="/css/cs/cs.css">
</head>
<body>
  <th:block th:replace="~{common/header}"></th:block>
  <main>
    <div class="main-container">
      <div class="cs-title">
        <a>자주 묻는 질문</a>
      </div>

      <div class="content-container">
        <div class="qna-container">
          <div class="qna-q">
            [회원] ID와 비밀번호가 기억나지 않아요.
          </div>
          <div class="qna-a">
            답글 : 로그인 좌측 하단의 아이디, 비밀번호 찾기 기능을 통해 확인이 가능합니다.
          </div>
        </div>
        <div class="qna-container">
          <div class="qna-q">
            문의사항을 지울 방법이 없어요.
          </div>
          <div class="qna-a">
            답글 : 보다 많은 피드백을 위해 등록만 가능하게 해두었습니다.
          </div>
        </div>
        <div class="qna-container">
          <div class="qna-q">
            회원가입은 어떻게 하나요?
          </div>
          <div class="qna-a">
            답글 : 골드 스푼은 이메일 조회를 통해 아이디로 가입이 가능합니다. 
            <br>
            회원가입 버튼은 우측 상단 "회원가입" 버튼을 통해 진행 가능합니다.
          </div>
        </div>
        <div class="qna-container">
          <div class="qna-q">
            레시피가 없어요.
          </div>
          <div class="qna-a">
            답글 : 레시피 목록 안에 레시피 요청하기를 통해 원하시는 레시피를 요청할 수 있습니다. 
          </div>
        </div>
        <div class="qna-container">
          <div class="qna-q">
            이상한 레시피를 봤어요.
          </div>
          <div class="qna-a">
            답글 : 해당 레시피 우측 하단에 신고버튼을 누르시면 메크로 및 불량 게시물을 신고 하실수 있습니다. 
          </div>
        </div>
      </div>


      

    </div>
  </main>
  












  <th:block th:replace="~{common/footer}"></th:block>



  <script src="/js/common/project.js"></script>
  <script src="/js/cs/cs.js"></script>
</body>
</html>