@font-face {
  font-family: 'TTTtangsbudaejjigaeB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
:root{
  font-size: 62.5%;
  --color-main: #FF884B;
  --color-bg: #F1EFEF;
  --color-bg2: #FFD384;
}
*{
  color: var(--color-main);
  box-sizing: border-box;
  font-family: 'TTTtangsbudaejjigaeB';
  margin: 0;
  padding: 0;
  list-style: none;
  /* border: 1px solid black; */
}
a{
  text-decoration: none;
}
body{
  /* background-color:#e5e5e5 */
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
main{
  display: flex;
  flex-direction: column;
  width: 144rem;
}

/* 헤더 */
.header{
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 15rem;
  transition: 1s;
}
.head-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 144rem;
  height: 15rem;
  position: relative;
}

nav{
  width: 80rem;
}
.menu{
  font-size: 2.5rem;
}
.dropdown{
  position: relative;
  width: 20rem;
  text-align: center;
}
.dropdown>ul{
  position: absolute;
  width: 100%;
  top: 10rem;
}
.dropdown>ul>li{
  text-align: center;
  font-size: 1.5rem;
  margin: 0.5rem;
}
.dropdown-item:hover{
  color: chocolate;
}
nav>ul{
  display: flex;
  justify-content: space-between;
}
.title{
  font-size: 5rem;
}
.dpnone{
  opacity: 1 !important;
}
.li-container{
  opacity: 0;
  transition: 1s;
}

/* 메인 화면 */
.main-container{
  background-color: var(--color-bg2);
  min-height: 75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 99;
  border-radius: 2rem;
  padding-bottom: 3rem;
}


/* 게시글 제목 */
.board-name{
  width: 90%;
  padding-left: 1rem;
  margin-top: 1rem;
  font-size: 3rem;
}

.board-title{
  width: 90%;
  margin-top: 1rem;
}

.board-title > input{
  width: 100%;
  padding: 1rem;
  font-size: 24px;
  border-radius: 15px;
}

/* 이미지 제목 */
.board-image{
  width: 90%;
  padding-left: 1rem;
  margin-top: 1rem;
  font-size: 3rem;
}

/* 이미지를 감싸는 div */
.boardImg{
  width: 230px;
  height: 230px;
  display: inline-block;
  text-align: center;
  position: relative;
}

.img-box{
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.boardImg > label{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
  border-radius: 15px;
}

/* 파일선택 창 지우기 */
.inputImage{
  display: none;
}

/* 내용 */
.board-content{
  width: 90%;
  padding-top: 20px;
  font-size: 18px;
}

[name="boardContent"]{
  width: 100%;
  height: 400px;
  resize: none;
  font-size: 1.1em;
  padding: 10px;
  border-radius: 15px;
}

.board-btn-area{
  margin-left: 123rem;
}

.board-btn-area > button{
  font-size: 15px;
  width: 60px;
  height: 25px;
  border-radius: 10px;
}
