<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project</title>
  <link rel="stylesheet" href="/css/common/project.css">
  <link rel="stylesheet" href="/css/common/main.css">
</head>
<body>
  <!-- 헤더/네비게이션 -->
  <th:block th:replace="~{common/header}"></th:block>
  <!-- 검색창 -->
  <section class="search">
    <input class="input-search" type="search" name="inputSearch" id="inputSearch" placeholder="검색어를 입력해주세요">
  </section>
  <main class="content">

    <br><br><br>

    <!-- 레시피 -->
    <h3 class="small-title">인기 레시피</h3>
    <section class="recipe-row">
      <div class="recipe-col">
        <div class="recipe-image"></div>
        <div class="recipe-name">레시피 이름</div>
        <div class="recipe-hashtag">해시태그</div>
      </div>
      <div class="recipe-col">
        <div class="recipe-image"></div>
        <div class="recipe-name">레시피 이름</div>
        <div class="recipe-hashtag">해시태그</div>
      </div>
      <div class="recipe-col">
        <div class="recipe-image"></div>
        <div class="recipe-name">레시피 이름</div>
        <div class="recipe-hashtag">해시태그</div>
      </div>
      <div class="recipe-col">
        <div class="recipe-image"></div>
        <div class="recipe-name">레시피 이름</div>
        <div class="recipe-hashtag">해시태그</div>
      </div>
    </section>
    <br><br>
    <section class="recipe-row">
      <div class="recipe-col">
        <div class="recipe-image"></div>
        <div class="recipe-name">레시피 이름</div>
        <div class="recipe-hashtag">해시태그</div>
      </div>
      <div class="recipe-col">
        <div class="recipe-image"></div>
        <div class="recipe-name">레시피 이름</div>
        <div class="recipe-hashtag">해시태그</div>
      </div>
      <div class="recipe-col">
        <div class="recipe-image"></div>
        <div class="recipe-name">레시피 이름</div>
        <div class="recipe-hashtag">해시태그</div>
      </div>
      <div class="recipe-col">
        <div class="recipe-image"></div>
        <div class="recipe-name">레시피 이름</div>
        <div class="recipe-hashtag">해시태그</div>
      </div>
    </section>
    <br><br><br>
    <!-- 쿠킹클래스 -->
    <h3 class="small-title">쿠킹 클래스</h3>
    <section class="recipe-row cooking-row">
      <div class="cooking-col1">
        <div class="recipe-col cooking-col2">
        </div>
        <div class="recipe-col cooking-col2">
        </div>
      </div>
      <div class="cooking-col1">
        <div class="recipe-col cooking-col2">
        </div>
        <div class="recipe-col cooking-col2">
        </div>
      </div>
    </section>
  </main>

  <footer>
    
  </footer>
  <script src="/js/common/project.js"></script>
  <script src="/js/common/main.js"></script>
</body>
</html>