<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>메인 페이지</title>
  <link rel="stylesheet" href="/css/common/project.css">
  <link rel="stylesheet" href="/css/common/main.css">
  <script src="https://kit.fontawesome.com/921e1d60a7.js" crossorigin="anonymous"></script>
</head>
<body>
  <!-- 헤더/네비게이션 -->
  <th:block th:replace="~{common/header}"></th:block>
  <!-- 검색창 -->
  <section class="search">
    <input class="input-search" type="search" name="inputSearch" id="inputSearch" placeholder="검색어를 입력해주세요">
  </section>
  <main class="content">

    <br><br><br>

    <!-- 레시피 -->
    <h3 class="small-title">인기 레시피</h3>
    <section class="recipe-row">
        <!-- <div class="recipe-col">
          <div class="recipe-image"><img th:src="*{recipeThumbnail}" alt=""></div>
          <div class="recipe-name" th:text="*{recipeTitle}">레시피 이름</div>
          <div class="recipe-hashtag"><span th:each="tag : *{recipeTag}" th:text="${tag}"></span></div>
        </div> -->
        <a th:each="recipe : ${map.recipeList}" th:object="${recipe}" 
            th:href="@{/recipe/select/{recipeNo}(recipeNo=*{recipeNo})}" class="recipe-col">
          <div class="recipe-image">
            <img class="recipe-image-detail" th:if="*{recipeThumbnail}" th:src="*{recipeThumbnail}">
            <img class="recipe-image-detail" th:unless="*{recipeThumbnail}" th:src="#{logo.default.image}">
          </div>
          <div class="recipe-name" th:text="*{recipeTitle}"></div>
          <div class="recipe-info">
            <div th:text="*{memberNickname}"></div>
            <div><i class="fa-heart fa-solid" style="color: red;"></i><th:block th:text="*{recipeLike}"></th:block></div>
            <div><i class="fa-star fa-solid" style="color: gold;"></i><th:block th:text="*{recipeStar}"></th:block></div>
            <div><i class="fa-user fa-solid" style="color: black;"></i><th:block th:text="*{recipeHits}"></th:block></div>
          </div>
          <div class="recipe-hashtag">
            <span th:each="tag : *{recipeTag}" th:text="${tag}" class="tags"></span>
          </div>
        </a>
      <!-- <div class="recipe-col">
        <div class="recipe-image"></div>
        <div class="recipe-name">레시피 이름</div>
        <div class="recipe-hashtag">해시태그</div>
      </div>
      -->
      <!-- <i class="fa-solid fa-chevron-left fa-2xl recipeLeftBtn"></i>
      <i class="fa-solid fa-chevron-right fa-2xl recipeRightBtn"></i> -->
    </section>
    <br><br><br>
    <!-- 쿠킹클래스 -->
    <!-- <h3 class="small-title">쿠킹 클래스</h3>
    <section class="recipe-row cooking-row">
      <div class="cooking-col1">
        <div class="recipe-col cooking-col2">
        </div>
        <div class="recipe-col cooking-col2">
        </div>
      </div>
      <div class="cooking-col1">
        <div class="recipe-col cooking-col2">
        </div>
        <div class="recipe-col cooking-col2">
        </div>
      </div>
    </section> -->

    <!-- <h3 class="small-title">공지사항</h3>
    <section class="recipe-row">
      <div class="main-notice">

      </div>
    </section> -->
  </main>

  <th:block th:replace="~{common/footer}"></th:block>
  <script src="/js/common/project.js"></script>
  <script src="/js/common/main.js"></script>
</body>
</html>