<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>기본 양식</title>
  <link rel="stylesheet" href="/css/common/basicForm.css">
  <link rel="stylesheet" href="/css/recipe/enroll/enroll_recipe.css">
</head>
<body>
  <th:block th:replace="~{common/header}"></th:block>
  <main>
    <div class="main-container">

      <section class="sAll">
        
        <div class="topName">
          
          <h1>나의 레시피</h1>
        </div>
        
        <form>
          <!-- 1번째 줄 -->
          <div id="firstLine">
            <div class="main-Picture">
              <div class="name">대표사진</div>
              <div class="boardImg firstPicture"> 
                <label for="img0">
                  <img class="preview" src="">
                </label>
                <!-- input type = file은 무조건 제출 -->
                <input type="file" name="images" class="inputImage" id="img0" accept="image/*">
                <span class="delete-image">&times;</span>
              </div>
            </div> 
            
            <div class="video">
              <div id="video1">요리 영상</div>
              <div id="video2">
                <div class="thumbnail"></div><div class="link"> <button class="processBtn1">➕</button></div>
              </div>
            </div>
    
          </div>
    
    
          <!-- 2번째 줄 -->
          <div class="cookName">
            <div class="cName">요리 이름</div><div class="cNameBox"></div>
          </div>
    
          <!-- 3번째 줄 -->
          <div class="material">
            <div class="mName">재료</div>
            <div class="mnameBox"></div>
          </div>
    
          <!-- 4번쨰 줄 -->
          <div class="btnControl">
            <button class="processAddBtn4">➕</button>
          </div>
          <div class="cookProcess">
            <div class="cpName">요리 과정</div>
            <div class="cpnameBox">
              <button class="processPhotoBtn4">📷</button>
            </div>
          </div>
    
          <!-- 5번째 줄 -->
          <div class="tip">
              <div class="tName">나만의 팁</div>
              <div class="tnBox"></div>
          </div>
    
          <!-- 6번째 줄 -->
          <div class="cookInformation">
            <div class="ciName">요리 정보</div>
            <div class="cinBox">
              
              <div>
                인원 &nbsp;<select name="" id="selectBox">
                  <option value="">1명</option>
                  <option value="">2명</option>
                  <option value="">3명</option>
                  <option value="">4명 이상</option>
                </select>
              </div>

              <div>
                시간 &nbsp;<select name="" id="selectBox">
                    <option value="">30분</option>
                    <option value="">1시간</option>
                    <option value="">1시간반</option>
                    <option value="">2시간</option>
                    <option value="">2시간 이상</option>
                  </select>
              </div>
  
            <div>
              난이도 &nbsp;<select name="" id="selectBox">
                <option value="">하</option>
                <option value="">중하</option>
                <option value="">중</option>
                <option value="">중상</option>
                <option value="">상</option>
              </select>
            </div>
            </div>
          </div>
    
          <!-- 7번째 줄 -->
          <div class="tag">
              <div class="tagName">태그</div>
              <div class="tagnBox"></div>
          </div>
    
          <!-- 8번째 줄 -->
          <div class="endPicture">
              <div class="epName">완성사진</div>
              <div class="epnBox">

                <button class="endProcessBtn8">📷</button>
              </div>
        
          </div>
    
          <!-- 9번째 줄 -->
          <div class="pBtn9">
            <button class="btn9 btn9-1">저장</button>
            <button class="btn9">미리보기</button>
            <button class="btn9">취소</button>
          </div>
          
        </section>
      </form>
      

    </div>
  </main>


  <!-- 이미지 미리보기 설정 -->
  <script th:inline="javascript">
    
  const imageList = /*[[${recipe.recipeThumbnail}]]*/ [];
  
  const previewList = document.querySelectorAll('img.preview');

  for(let img of imageList){
      previewList[img.imgOrder].src = img.imgPath + img.imgRename;
  }

  </script>

  <script src="/js/board/boardUpdate.js"></script>

  <script src="/js/common/project.js"></script>
</body>
</html>