<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>레시피 등록창</title>
  <link rel="stylesheet" href="/css/common/basicForm.css">
  <link rel="stylesheet" href="/css/recipe/enroll/enroll_recipe.css">
  <script src="https://kit.fontawesome.com/921e1d60a7.js" crossorigin="anonymous"></script>
</head>
<body>
  <th:block th:replace="~{common/header}"></th:block>
  <main>
    <div class="main-container">

      <section class="sAll">
        
        <div class="topName">
          
          <h1>나의 레시피</h1>
        </div>
        
        <form action="/recipe/enroll" method="post" enctype="multipart/form-data" id="recipeFrm">
          <!-- 1번째 줄 대표사진 / 요리영상 -->
          <div id="firstLine">
            <div class="main-Picture">
              <div class="name">대표사진</div>
              <div class="boardImg firstPicture"> 
                <label for="img0">
                  <img class="preview" th:src="#{logo.default.image}">
                </label>
                <!-- input type = file은 무조건 제출 -->
                <input type="file" name="thumbnail" class="inputImage1" id="img0" accept="image/*">
                <span class="delete-image">&times;</span>
              </div>
            </div> 
            
            <div class="video">
              <div id="video1">요리 영상 URL</div>
              <div id="video2">
                <textarea name="originRecipeVideo" id="recipeVideo" rows="10" class="recipeVideo" placeholder="유튜브 주소창을 그대로 복사해서 넣어주세요"></textarea>
              </div>
            </div>
          </div>
    
    
          <!-- 2번째 줄 요리이름/한줄소개 -->
          <div class="cookName">
            <div class="cName">요리 이름</div><div class="cNameBox"><input maxlength="20" id="recipeTitle" type="text" name="recipeTitle" class="recipe2line a" size="30"></div>
          </div>
          <div class="cookName">
            <div class="cName">한줄 소개</div><div class="cNameBox"><input maxlength="50" id="recipeIntro" type="text" name="recipeIntro" class="recipe2line a" size="30"></div>
          </div>
    
          <!-- 3번째 줄 재료 -->
          <div class="materialAndInfo">
            <div class="material">
              <button type="button" id="materialBtn"><i class="fa-solid fa-plus"></i></button>
              <div class="mName">재료</div>
              <div class="mnameBox">
                <div class="material-detail">
                  재료명 <input type="text" name="materialName">
                  수량 <input type="text" name="recipeMaterialQuantity">
                </div>
              </div>
            </div>
            <!-- 6번째 줄 요리정보 -->
            <div class="cookInformation">
              <div class="ciName">요리 정보</div>
              <div class="cinBox">
                
                <div>
                  인원<select name="recipePeople" class="selectBox">
                    <option>1인분</option>
                    <option>2인분</option>
                    <option>3인분</option>
                    <option>4인분 이상</option>
                  </select>
                </div>

                <div>
                  시간<select name="recipeTime" class="selectBox">
                      <option>30분 이하</option>
                      <option>1시간 이하</option>
                      <option>1시간반 이하</option>
                      <option>2시간 이하</option>
                      <option>2시간 초과</option>
                    </select>
                </div>
    
              <div>
                난이도
                <select name="recipeLevel" class="selectBox">
                  <option>하</option>
                  <option>중하</option>
                  <option>중</option>
                  <option>중상</option>
                  <option>상</option>
                </select>
              </div>
              </div>
            </div>
          </div> 


    
          <!-- 4번째 줄 요리과정 -->
          <div class="btnControl">
          </div>
          
          <div id="parentElement">
            <button class="processAddBtn4" id="add" type="button"><i class="fa-solid fa-plus"></i></button>
            <div class="cookProcess container backup">
              <div class="cpName">요리 과정</div>
              <div class="cpnameBox row">
                
                <div>
                  <textarea name="recipeStepContent" class="recipe4line a"></textarea>
                </div>
                
                <label class="processPhotoBtn4">
                  <img class="stepPreview" th:src="#{camera.image}">
                  <input type="file" name="processImages" class="processImages" style="display: none;">
                </label>
                <span class="stepDeleteBtn">&times;</span>
                <!-- <span type="button" class="x-btn">&times;</span> -->
              </div>
            </div>
          </div>



    
          <!-- 5번째 줄 나만의팁 -->
          <div class="tip">
              <div class="tName">나만의 팁</div>
              <div class="tnBox"><input type="text" id="recipeTip" name="recipeTip" class="recipe5line a"></div>
          </div>
    
          
    
          <!-- 7번째 줄 태그 -->
          <div class="tag">
              <div class="tagName">태그</div>
              <div class="tagnBox"><input type="text" class="recipe7line a" maxlength="10" size="30" id="inputTag" placeholder="태그를 입력 후 엔터를 눌러주세요"></div>
          </div>
    
          <!-- 8번째 줄 완성사진 -->
          <div class="endPicture">
              <div class="epName">완성사진</div>
              <div class="epnBox">
                
                <div class="position">
                  <label class="endProcessBtn8">
                    <img class="completePreview" th:src="#{camera.image}">
                    <input type="file" name="completeImages" class="completeImages" style="display: none;">
                  </label>
                  <span class="completeDeleteBtn">&times;</span>
                </div>
                <div class="position">
                  <label class="endProcessBtn8">
                    <img class="completePreview" th:src="#{camera.image}">
                    <input type="file" name="completeImages" class="completeImages" style="display: none;">
                  </label>
                  <span class="completeDeleteBtn">&times;</span>
                </div>
                <div class="position">
                  <label class="endProcessBtn8">
                    <img class="completePreview" th:src="#{camera.image}">
                    <input type="file" name="completeImages" class="completeImages" style="display: none;">
                  </label>
                  <span class="completeDeleteBtn">&times;</span>
                </div>
                <div class="position">
                  <label class="endProcessBtn8">
                    <img class="completePreview" th:src="#{camera.image}">
                    <input type="file" name="completeImages" class="completeImages" style="display: none;">
                  </label>
                  <span class="completeDeleteBtn">&times;</span>
                </div>


              </div>
        
          </div>
    
          <!-- 9번째 줄 제출버튼 -->
          <div class="pBtn9">
            <button type="submit" class="btn9 btn9-1 subBtn">저장</button>
            <button class="btn9 cancelBtn">취소</button>
          </div>
          
        </form>
        
      </section>

    </div>
  </main>

  <script th:inline="javascript">
    const message = /*[[${message}]]*/ "전달 받은 message";
    if(message != null) alert(message);

    const logo = /*[[#{logo.default.image}]]*/ "로고 이미지";
    const camera = /*[[#{camera.image}]]*/ "로고 이미지";

    const orderBox = document.querySelector(".orderBox");



    

  </script>


  <script src="/js/recipe/enroll/enroll_recipe.js"></script>
  <script src="/js/common/project.js"></script>
</body>
</html>