.inquiryReply-mainTitle{
   width: 90%;
   margin: 3rem 0 2rem 0;
   display: flex;
   justify-content: space-between;
}
.inquiryReply-mainTitle>a{
   margin: 0.5rem;
   font-size: 3rem;
   color: var(--color-bg);
}

.inquiryReply-title{
   font-size: 3rem;
   background-color: var(--color-bg);
   margin: 0.5rem 0;
   width: 100%;
   border-radius: 1rem;
   height: 4rem;
   padding: 0.5rem 0.5rem 0;
}

.inquiryReply-content{
   font-size: 3rem;
   background-color: var(--color-bg);
   margin: 0.5rem 0;
   width: 100%;
   border-radius: 1rem;
   min-height: 20rem;
   padding: 0.5rem 0.5rem 0;
}

.inquiryReply-textarea{
   font-size: 3rem;
   background-color: var(--color-bg);
   margin: 0.5rem 0;
   width: 100%;
   border-radius: 1rem;
   min-height: 30rem;
   padding: 0.5rem 0.5rem 0;
}

.btn-area{
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   width: 100%;
}

.inquiryWrite-btn{
   font-size: 16px;
   width: 8rem;
   height: 3rem;
   border-radius: 10px;
}

.inquiry-reply{
   width: 90%;
}

.raa{
   font-size: 2rem;
   background-color: var(--color-bg);
   margin: 0.5rem 0;
   width: 10%;
   border-radius: 1rem;
   height: 3rem;
   padding: 0.5rem 1rem 0;
}