<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>내 정보 수정</title>
  <link rel="stylesheet" href="/css/common/project.css">
  <link rel="stylesheet" href="/css/my_page/my_pageTab/myPage.css">
  <script src="https://kit.fontawesome.com/921e1d60a7.js" crossorigin="anonymous"></script>
</head>
<body>
  <th:block th:replace="~{common/header}"></th:block>
  <main>
    <div class="main-container" th:object="${myPageMember}">
      <div class="cs-title">
        <a href="/myPage/edit">내 정보 수정</a>
      </div>
      <th:block th:replace="~{my_page/myPageSideMenu}"></th:block>
        <div class="userInfo-row1 edit-userInfo-row">
          <button type="button" id="xBtn"><i class="fa-solid fa-x"></i></button>
          <div class="userInfo-image">
            <img th:if="*{memberProfile}" th:src="*{memberProfile}" class="memberProfile">
            <img th:unless="*{memberProfile}" th:src="#{user.default.image}" class="memberProfile">
          </div>
          <div class="profile">
            <label for="profileInput" class="profileInput">
              이미지 선택
              <input type="file" id="profileInput">
            </label>
            <button id="profileBtn" class="profileInput">프로필 변경</button>
          </div>
        </div>
        <form action="/myPage/edit" method="POST" class="editFrm" id="editFrm">
          <div class="userInfo-row2 memberIntro">
            <span>닉네임</span>
            <input type="text" class="userInfo-nickname2" th:value="*{memberNickname}" name="memberNickname" id="inputNickname"/>
          </div>
          <div class="validation"></div>
          <div class="userInfo-row2 memberIntro">
            <span>자기소개</span>
            <textarea maxlength="64" type="text" class="userInfo-intro" th:if="*{memberIntro}" th:text="*{memberIntro}" name="memberIntro"></textarea>
            <textarea maxlength="64" type="text" class="userInfo-intro" th:unless="*{memberIntro}" name="memberIntro" placeholder="자기소개를 작성해주세요"></textarea>
          </div>
          <button id="changeBtn">내 정보 변경</button>
        </form>
        <div>
          <button type="button" id="changePwBtn">비밀번호 변경</button>
          <button type="button" id="secession">회원 탈퇴</button>
        </div>
    </div>







  </main>
  <th:block th:replace="~{common/footer}"></th:block>

  <script th:inline="javascript">
    const defaultImg = /*[[#{user.default.image}]]*/ "기본 프로필 이미지";
    const loginMemberProfile = /*[[${session.loginMember.memberProfile}]]*/ "로그인한 회원 프로필 이미지";
    const loginMemberNickname = /*[[${session.loginMember.memberNickname}]]*/ "로그인한 회원 닉네임";
    const memberNo = /*[[${session.loginMember.memberNo}]]*/ "로그인한 회원 번호";
  </script>
  <script src="/js/common/project.js"></script>
  <script src="/js/my_page/edit/myPageEdit.js"></script>
</body>
</html>