<header class="header">
  <div class="head-wrapper">
    <h1 class="title"><a href="/">임시 제목</a></h1>
    <nav>
      <ul class="dropdown-container">
        <li class="dropdown">
            <a class="menu" href="/recipe/select">레시피</a>
            <ul class="li-container">
              <li><a class="dropdown-item" href="/recipe/select">레시피 조회</a></li>
              <li><a class="dropdown-item" href="/recipe/enroll/enroll_recipe">레시피 등록</a></li>
              <li><a class="dropdown-item" href="/recipe/request">레시피 요청</a></li>
            </ul>
        </li>
        <li class="dropdown">
          <a class="menu" href="#">쿠킹 클래스</a>
          <ul class="li-container">
            <li><a class="dropdown-item" href="/cookingClass/cookingClassBoard">게시판</a></li>
            <li><a class="dropdown-item" href="/board/select">커뮤니티</a></li>
            <li><a class="dropdown-item" href="#">강사 등록</a></li>
            <li><a class="dropdown-item" href="#">채팅</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="menu" href="/cs/notice">고객센터</a>
          <ul class="li-container">
            <li><a class="dropdown-item" href="/cs/notice">공지사항</a></li>
            <li><a class="dropdown-item" href="/cs/qna">QnA</a></li>
            <li><a class="dropdown-item" href="/cs/inquiry">1대1 문의</a></li>
            <li><a class="dropdown-item" href="/cs/report">신고</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <span class="header-login-signup" style="font-size: 2rem;">
      <th:block th:if="${session.loginMember == null}">
        <a href="/member/login">로그인</a> · <a href="/member/signup">회원가입</a>
      </th:block>
      <th:block th:unless="${session.loginMember == null}">

        <a href="/myPage/main">마이페이지</a> · <a href="/member/logout">로그아웃</a>
        <th:block th:if="${session.loginMember.memberAuthority == 2}">
          <div style="text-align: center;">
            <a href="/admin/memberSearch">관리자 페이지</a>
          </div>
        </th:block>

      </th:block>
      <br>
    </span>
  </div>
</header>