/* .recipe-row{
  position: relative;
}
.recipeLeftBtn{
  position: absolute;

  left: -4rem;
  top: 42rem;
}
.recipeRightBtn{
  position: absolute;
  right: -4rem;
  top: 42rem;
} */

.tags{
  font-size: 1.6rem;
  background-color: var(--color-main);
  color: white;
  margin: 0.4rem;
  padding: var(--padding-font);
  border-radius: 1rem;
}
#inputSearch{
  width: 35rem;
  height: 6rem;
  font-size: 3rem;
  border-radius: 1rem;
  border: none;
  padding: 1rem;
}
