@font-face {
  font-family: 'TTTtangsbudaejjigaeB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
:root{
  font-size: 62.5%;
  --color-main: #FF884B;
  --color-bg: #F1EFEF;
  --color-bg2: #FFD384;
  --padding-font: 0.5rem 1rem 0;
}
input, textarea, select, button{
  border: none;
}
button{
  cursor: pointer;
}
*{
  color: var(--color-main);
  box-sizing: border-box;
  font-family: 'TTTtangsbudaejjigaeB';
  margin: 0;
  padding: 0;
  list-style: none;
  /* border: 1px solid black; */
}
a{
  text-decoration: none;
}
body{
  /* background-color:#e5e5e5 */
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
main{
  display: flex;
  flex-direction: column;
  width: 144rem;

}

/* 헤더 */
.header{
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 15rem;
  transition: 1s;
}
.head-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 144rem;
  height: 15rem;
  position: relative;
}

nav{
  width: 80rem;
}
.menu{
  font-size: 2.5rem;
}
.dropdown{
  position: relative;
  width: 20rem;
  text-align: center;
}
.dropdown>ul{
  position: absolute;
  width: 100%;
  top: 10rem;
}
.dropdown>ul>li{
  text-align: center;
  font-size: 1.5rem;
  margin: 0.5rem;
}
.dropdown-item:hover{
  color: chocolate;
}
nav>ul{
  display: flex;
  justify-content: space-between;
}
.title{
  font-size: 5rem;
}
.search{
  background: url(/image/pexels-ella-olsson-1640774.jpg) no-repeat center;
  height: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-size: cover;
  position: relative;
}
.dpnone{
  opacity: 1 !important;
}
.li-container{
  opacity: 0;
  transition: 1s;
}

/* 사이드 메뉴 */
.sideMenu{
  position: absolute;
  background-color: var(--color-bg);
  border-radius: 2rem;
  width: 15rem;
  height: 30rem;
  top: 3rem;
  left: 3rem;
  font-size: 2rem;
  text-align: center;
  
}
.sideMenu div{
  margin: 0.5rem;
}



/* 레시피 */
.recipe-row{
  display: flex;
  justify-content: space-between;
  width: 144rem;
}
.recipe-col{
  width: 30rem;
  height: 40rem;
  border-radius: 2rem;
}
.small-title{
  font-size: 4rem;
}
#inputSearch{
  width: 55rem;
  height: 6rem;
  font-size: 3rem;
  border-radius: 1rem;
  border: none;
  padding: 0.5rem;
}
.recipe-image{
  background-color: black;
  height: 82%;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
.recipe-name, .recipe-hashtag{
  height: 9%;
  font-size: 3rem;
  text-align: center;
  border: 0.5rem solid black;
}
.recipe-hashtag{
  border-top: none;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

/* 쿠킹 클래스 */
.cooking-col1{
  background-color: gray;
  display: flex;
  border-radius: 2rem;
  width: 68rem;
  height: 44rem;
  justify-content: space-evenly;
  align-items: center;
}
.cooking-col2{
  background-color: #F1EFEF;
}

.cooking-col2:first-of-type{
  background-color: aquamarine;
}





/* 레시피 화면 */
.media-container{
  display: flex;
  height: 50rem;
  width: 90%;
  margin: 5rem 0;
  /* background-color: cadetblue; */
  padding: 2rem;
  border-radius: 2rem;
}

.main-media{
  width: 60%;
  background-color: var(--color-bg);
  height: 100%;
  border-radius: 2rem;
}

.recipe-summary{
  font-size: 4rem; margin: 0;
  width: 30%;
  margin-left: 10rem;
  display: flex;
  flex-direction: column;
  /* background-color: var(--color-bg); */
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.recipe-summary *{
  padding: 1rem 1rem 0;
  background-color: var(--color-bg);
  border-radius: 2rem;
  text-align: center;
}

.recipe-writer{
  width: 70%;
  height: 10rem;
  background-color: var(--color-bg);
  border-radius: 2rem;
  display: flex;
  align-items: center;
}
.recipe-content{
  width: 70%;
  margin: 3rem 0;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
}
.recipe-writer-image{
  height: 8rem;
  width: 8rem;
  margin: 1rem;
  border-radius: 1rem;
}
.recipe-writer-nickname{
  font-size: 2rem;
  margin: 0 1rem;
}
.recipe-writer-info{
  font-size: 2rem;
  width: 65rem;
  margin-left: 2rem
}

.content{
  background-color: var(--color-bg);
  border-radius: 2rem;
  font-size: 2rem;
  padding: 0.5rem 1rem 0;
  min-height: 15rem;
}

.recipe-subtitle{
  font-size: 3rem;
  padding: 0.5rem 1rem 0;
  margin: 1rem 0;
}

.recipe-step{
  padding: var(--padding-font);
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.recipe-photo{
  display: flex;
  justify-content: space-between;
}

.recipe-photo>div{
  background-color: var(--color-bg);
  width: 25rem;
  height: 30rem;
  border-radius: 1rem;
}

.recipe-photos{
  width: 80%;
}

.recipe-review-container{
  background-color: var(--color-bg);
  border-radius: 2rem;
}
.recipe-review{
  display: flex;
  align-items: center;
  border-radius: 2rem;
  background-color: var(--color-bg);
  height: 10rem;
  font-size: 2rem;
  margin: 1rem;
}

.recipe-review-form{
  display: flex;
  flex-direction: column;
}
.recipe-review-content{
  height: 90%;
  width: 70%;
  background-color: white;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 0.5px solid #FFD384;
}

.recipe-review-form button{
  border-radius: 1rem;
  margin: 1rem;
  align-self: flex-end;
  height: 4rem;
  width: 14rem;
  font-size: 2rem;
  padding: var(--padding-font);
}


/* 유저 정보 */
.userInfo{
  width: 70%;
  margin: 3rem 0;
  height: 60rem;
  display: flex;
  padding: 2rem;
  flex-direction: column;
}
.userInfo-image{
  height: 16rem;
  width: 16rem;
}
.userInfo-row{
  display: flex;

}





































footer{
  height: 20rem;
  background-color: var(--color-main);
  width: 100vw;
  margin-top: 3rem;
}

footer *{
  color: #F1EFEF;
}


.allFirstBox{
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding:1rem 0rem 1.5rem 0rem;
  margin: 0rem 15rem 0rem 15rem;
}




/* 왼쪽 */

.classBox1{
  width: 25rem;
  padding: 1rem 1.2rem 0rem 1.2rem;
  margin-left: 20rem;
}

.leftTitle{
  font-size: 1.5rem;
  padding: 0.5rem 0rem 1.2rem 0rem;
}

.leftNumber{
  font-size: 1.5rem;
}

.dateBox{
  font-size: 1.2rem;
  padding-top: 0.5rem;
}




/* 중앙 */


.classBox2{
  width: 40rem;
  padding: 1rem 3.6rem 0rem 3.6rem;
}

.midTitle{
  font-size: 1.5rem;
  padding: 0.5rem 0rem 1.2rem 0rem;
}

.midLine{
  font-size: 1.2rem;
  padding-bottom: 0.3rem;
}

/* 오른쪽 */

.classBox3{
  width: 17rem;
  padding: 1rem 1.2rem 0rem 1.2rem;
  margin-right: 20rem;
}

.rightTitle{
  font-size: 1.5rem;
  padding: 0.5rem 0rem 1.2rem 0rem;
}



/* 맨 아래 */
.classLastLine{
  display: flex;
  justify-content: center;
  padding: 1.2rem 0rem 0rem 0rem;
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 7rem;
}