

/* 레시피 화면 */
.media-container{
  display: flex;
  height: 50rem;
  width: 90%;
  margin: 5rem 0;
  /* background-color: cadetblue; */
  padding: 2rem;
  border-radius: 2rem;
}

.main-media{
  width: 60%;
  background-color: var(--color-bg);
  height: 100%;
  border-radius: 2rem;
  display: flex;
  padding: 2rem;
}
.main-media>img{
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.recipe-summary{
  font-size: 4rem; margin: 0;
  width: 30%;
  margin-left: 10rem;
  display: flex;
  flex-direction: column;
  /* background-color: var(--color-bg); */
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.recipe-summary *{
  padding: 1rem 1rem 0;
  background-color: var(--color-bg);
  border-radius: 2rem;
  text-align: center;
}

.recipe-writer{
  width: 70%;
  height: 10rem;
  background-color: var(--color-bg);
  border-radius: 2rem;
  display: flex;
  align-items: center;
}
.recipe-content{
  width: 70%;
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
}
.recipe-writer-image{
  height: 8rem;
  margin: 1rem;
  flex-basis: 8rem;
  display: flex;
}
.recipe-writer-nickname{
  color: rgb(73, 73, 73);
  font-size: 2rem;
  margin: 0 1rem;
}
.recipe-writer-info{
  color: rgb(73, 73, 73);
  font-size: 2rem;
  width: 65rem;
  margin-left: 2rem
}

.content{
  background-color: var(--color-bg);
  border-radius: 2rem;
  font-size: 2rem;
  padding: 2rem;
  min-height: 10rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.recipe-subtitle{
  font-size: 3rem;
  padding: 0.5rem 1rem 0;
  margin: 1rem 0;
}

.recipe-step{
  padding: var(--padding-font);
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.recipe-photo{
  display: flex;
  justify-content: space-between;
}

.recipe-photo>div{
  background-color: var(--color-bg);
  width: 25rem;
  height: 30rem;
  border-radius: 1rem;
  display: flex;
}
.recipeCompletePhotos{
  max-width: 100%;
  min-width: 100%;
  margin: auto;
}
.recipe-photos{
  width: 80%;
}
.recipe-review{
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--color-bg);
  font-size: 2rem;
  margin: 1rem;
  border-bottom: 0.03rem solid darkorange;
}

.recipe-review-container{
  background-color: var(--color-bg);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.recipe-review-form{
  text-align: end;
}
.recipe-review-content{
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  text-align: start;
  border: 0.5px solid #FFD384;
  overflow: auto;
  word-break: break-all;
}

.recipe-review-form button{
  border-radius: 1rem;
  height: 3rem;
  margin: 0.5rem 0 0;
  width: 7rem;
  font-size: 1.7rem;
  padding: 0.5rem 0 1rem;
}

.bookmark{
  background-color: var(--color-bg);
  border-radius: 1rem;
  font-size: 2rem;
  min-width: 20rem;
  height: 5rem;
  display: flex;
  align-items: center;
  margin: 2rem;
  padding: 0 2rem 0 1rem;
}
.temp{
  display: flex;
  align-items: center;
  margin: 0.5rem;
}
#like, #bookmark{
  cursor: pointer;
  margin: 0 0.3rem;
  user-select: none;
}
#stars{
  margin: 1rem;
  padding: var(--padding-font);
}
#stars *{
  cursor: pointer;
}
.tags{
  font-size: 1.7rem;
  background-color: var(--color-main);
  color: white;
  margin: 0.5rem;
  padding: var(--padding-font);
  border-radius: 1rem;
}

.recipeTag{
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem;
  justify-content: space-evenly;
}
.star-point{
  padding: 1rem;
  font-size: 2rem;
}

.memberProfile{
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  border-radius: 1rem;
}

.recipeCommentEnrollDate{
  font-size: 1rem;
}

.commentNickname{
  flex-basis: 20rem;
  text-align: center;
  margin-right: 1rem;
}

.recipeCommentInput{
  width: 100%;
  padding: 0.5rem 7rem;
  background-color: var(--color-bg);
  text-align: center;
  border-radius: 2rem;
}

.child-comment{
  width: 95%;
  align-self: flex-end;
}

.reply{
  color: black;
  position: absolute;
  top: 2rem;
  left: -2rem;
}

.contentContainer{
  text-align: end;
  width: 66.5rem;
  padding-top: 2rem;
}
.buttons{
  margin: 0 0.3rem;
}

.flex{
  display: flex;
  justify-content: space-between;
}

.commentTextarea{
  resize: none;
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 0.1rem solid darkorange;
}

.updateTextarea{
  width: 100%;
  height: 6rem;
  resize: none;
}

.recipeMaterial{
  margin: 0 1rem 1rem 0;
}

.stepImage{
  display: flex;
  width: 15rem;
  height: 15rem;
}
.stepImage img{
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}

.step-content{
  justify-content: space-between;
}

.recipe-info{
  justify-content: space-evenly;
}
.recipe-info>span{
  color: rgb(73, 73, 73);
}

.recipe-info-detail{
  color: var(--color-bg);
  background-color: var(--color-main);
  border-radius: 1rem;
  padding: 1rem;
}
