.main-container{
  position: relative;
}

.content-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  min-height: 88rem;
}
.recipe-col{
  margin: 2rem 2.9rem;
}
.recipe-title{
  width: 90%;
  margin: 3rem 0 2rem 0;
  display: flex;
  justify-content: space-between;
}
.recipe-title>a{
  margin: 0.5rem;
  font-size: 3rem;
  color: var(--color-bg);
}

.search-area{
  width: 95%;
  display: flex;
  justify-content: flex-end;
}

.search-area *{
  height: 4rem;
  margin: 2px;
}

#recipeSearch{
  padding-left: 10px;
}

.tags{
  font-size: 1.6rem;
  background-color: var(--color-main);
  color: white;
  margin: 0.4rem;
  padding: var(--padding-font);
  border-radius: 1rem;
}
