<style>
  .main-container{
  position: relative;
  }
  .sideMenu>div:first-of-type{
    border-radius: 1rem;
    background-color: var(--color-main);
    padding: 1rem;
  }
  .sideMenu>div:first-of-type>a{
    color: var(--color-bg);
  }
</style>
<div class="sideMenu">
  <div>
    <a href="/myPage/main">마이 페이지</a>
  </div>
  <div>
    <a href="/myPage/edit">내 정보 수정</a>
  </div>
  <div>
    <a href="/myPage/bookmark">즐겨찾기</a>
  </div>
  <div>
    <a href="/myPage/recipe">나의 레시피</a>
  </div>
  <div>
    <a href="/myPage/board">나의 게시글</a>
  </div>
</div>
