<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>쿠킹 클래스 커뮤니티</title>
  <link rel="stylesheet" href="/css/cooking_class/community/cookingClassCommuntry.css">
</head>
<body>
  <th:block th:replace="~{common/header}"></th:block>


  <main>
    <div class="main-container">
      


    </div>
  </main>


  <script src="/js/cooking_class/community/cookingClassCommuntry.js"></script>
</body>
</html>