<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마이페이지 > 즐겨찾는 레시피</title>
  <link rel="stylesheet" href="/css/common/project.css">
  <link rel="stylesheet" href="/css/recipe/select/recipe.css">
  <script src="https://kit.fontawesome.com/921e1d60a7.js" crossorigin="anonymous"></script>
</head>
<body>
  <th:block th:replace="~{common/header}"></th:block>
  <main th:with="recipeList=${map.recipeList}, pagination=${map.pagination}">
    <div class="main-container">
        <div class="recipe-title">
          <a href="/myPage/bookmark">즐겨찾는 레시피</a>
        </div>
        
      <div class="search-area">
        <select name="orderBy" id="orderBy">
          <option value="1">인기순</option>
          <option value="2">평점순</option>
          <option value="3">최신순</option>
          <option value="4">조회순</option>
          <option value="5">작성자</option>
        </select>
        <input type="text" placeholder="검색어를 입력해주세요" name="recipeSearch" id="recipeSearch">
        <button type="button" id="recipeSearchBtn">검색</button>
      </div>
      <th:block th:if="${#lists.isEmpty(recipeList)}">
          <br><br><br><br>
          <h1>조회 결과가 없습니다</h1>
      </th:block>
      <th:block th:replace="~{my_page/myPageSideMenu}"></th:block>
      <div class="content-container">            
        <a th:each="recipe : ${recipeList}" th:object="${recipe}" 
            th:href="@{/recipe/select/{recipeNo}(recipeNo=*{recipeNo})}" class="recipe-col">
          <div class="recipe-image">
            <img class="recipe-image-detail" th:if="*{recipeThumbnail}" th:src="*{recipeThumbnail}">
            <img class="recipe-image-detail" th:unless="*{recipeThumbnail}" th:src="#{logo.default.image}">
          </div>
          <div class="recipe-name" th:text="*{recipeTitle}"></div>
          <div class="recipe-info">
            <div th:text="*{memberNickname}"></div>
            <div><i class="fa-heart fa-solid" style="color: red;"></i><th:block th:text="*{recipeLike}"></th:block></div>
            <div><i class="fa-star fa-solid" style="color: gold;"></i><th:block th:text="*{recipeStar}"></th:block></div>
            <div><i class="fa-user fa-solid" style="color: black;"></i><th:block th:text="*{recipeHits}"></th:block></div>
          </div>
          <div class="recipe-hashtag">
            <span th:each="tag : *{recipeTag}" th:text="${tag}" class="tags"></span>
          </div>
        </a>
      </div>


      <div class="page-number">
        <ul th:if="${inputSearch == null}">
          <li><a href="/myPage/bookmark"><i class="fa-solid fa-backward-step"></i></a></li>
          <li><a th:href="@{/myPage/bookmark(cp=${pagination.prevPage})}"><i class="fa-solid fa-caret-left fa-lg"></i></a></li>
          <th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}">
            <li th:if="${i == pagination.currentPage}"><a style="color: black;" class="text" th:text="${i}">1</a></li>
            <li th:unless="${i == pagination.currentPage}"><a th:href="@{/recipe/select(cp=${i})}" class="text" th:text="${i}">1</a></li>
          </th:block>
          <li><a th:href="@{/myPage/bookmark(cp=${pagination.nextPage})}"><i class="fa-solid fa-caret-right fa-lg"></i></a></li>
          <li><a th:href="@{/myPage/bookmark(cp=${pagination.maxPage})}"><i class="fa-solid fa-forward-step"></i></a></li>
        </ul>
        <ul th:unless="${inputSearch == null}">
          <li><a th:href="@{/myPage/bookmark/search(inputSearch=${inputSearch}, orderBy=${orderBy})}"><i class="fa-solid fa-backward-step"></i></a></li>
          <li><a th:href="@{/myPage/bookmark/search(cp=${pagination.prevPage}, inputSearch=${inputSearch}, orderBy=${orderBy})}"><i class="fa-solid fa-caret-left fa-lg"></i></a></li>
          <th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}">
            <li th:if="${i == pagination.currentPage}"><a style="color: black;" class="text" th:text="${i}">1</a></li>
            <li th:unless="${i == pagination.currentPage}"><a th:href="@{/myPage/bookmark/search(cp=${i}, inputSearch=${inputSearch}, orderBy=${orderBy})}" class="text" th:text="${i}">1</a></li>
          </th:block>
          <li><a th:href="@{/myPage/bookmark/search(cp=${pagination.nextPage}, inputSearch=${inputSearch}, orderBy=${orderBy})}"><i class="fa-solid fa-caret-right fa-lg"></i></a></li>
          <li><a th:href="@{/myPage/bookmark/search(cp=${pagination.maxPage}, inputSearch=${inputSearch}, orderBy=${orderBy})}"><i class="fa-solid fa-forward-step"></i></a></li>
        </ul>
      </div>
    </div>
  </main>
  <th:block th:replace="~{common/footer}"></th:block>
  <script src="/js/common/project.js"></script>
  <script src="/js/my_page/bookmark/myPageBookmark.js"></script>
</body>
</html>